In [2]:
import numpy as np
import os
# ^^^ pyforest auto-imports - don't write above this line

# Importing and Exporting Data - QUICK REVIEW

In [3]:
import os
import pandas as pd

In [5]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/5_Data_Manipulation_Part1

In [15]:
csv_files = [file for file in os.listdir('../4_Pandas_Import_Export/data copy/') if file.endswith('.csv')]

In [17]:
csv_files

['exported_file_plusminus.csv',
 'exported_file_pipe.csv',
 'exported_file.csv',
 'CSV.ANSI.csv',
 'CSV.8859-1.csv',
 'teste.csv',
 'exported_file_v1.csv',
 'exported_file_v2.csv',
 'vehicles_messy.csv',
 'CSV.UTF8.csv',
 'vehicles.csv',
 'vehicles_test.csv',
 'exported_file_semicolon.csv']

In [18]:
selected_files = ['exported_file_v1.csv',
                  'exported_file_v2.csv']

In [20]:
dataframes = [pd.read_csv(f'../4_Pandas_Import_Export/data copy/{item}') for item in selected_files]

In [23]:
dataframes[1]

,Unnamed: 0,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...,...
215,215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

In [24]:
df = dataframes[0]

df2 = dataframes[1]

In [31]:
print(df)


df2

     unplanted3    planted3  unplanted7    planted7  unplanted10   planted10  \
0      0.000000   78.636959   84.820995   52.068175    84.783652   85.310734
1      0.000000   14.616304   14.015557    0.000000    40.375704   28.928829
2     80.511993   89.752898   87.460473   89.376096    94.163425   87.193210
3     75.900402   87.403649   80.646947   93.727934    93.886463   94.274587
4     15.042991   69.794541   49.785408   82.442805    17.340252   78.333261
..          ...         ...         ...         ...          ...         ...
215   65.309446   87.153652   74.054054   86.700913    63.328034   91.534091
216    0.000000   48.520710   38.206278    0.000000    34.740545   71.739130
217   28.395062   83.783784   66.559486  100.000000   100.000000  100.000000
218   59.640103  100.000000   44.281525  100.000000   100.000000  100.000000
219   10.194175  100.000000  100.000000  100.000000   100.000000  100.000000

    wether  parameter        date
0      wet  turbidity  2018-02-09
1      wet  turbidity  2018-02-15
2      wet  turbidity  2018-02-22
3      wet  turbidity  2018-03-01
4      wet  turbidity  2018-03-08
..     ...        ...         ...
215    wet         pt  2018-10-05
216    wet         pt  2018-10-11
217    wet         pt  2018-10-18
218    wet         pt  2018-10-25
219    wet         pt  2018-10-31

[220 rows x 9 columns]

,Unnamed: 0,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...,...
215,215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

In [34]:
from IPython.display import display, Markdown

In [39]:
display(Markdown('''
```python

def bla():
    return True

```

# 3


```sql
SELECT * 
  FROM table;
```

'''))

```python

def bla():
    return True

```

# 3



```sql
SELECT *
  FROM table;
```

In [33]:
display(df)


df2

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...
215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

,Unnamed: 0,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...,...
215,215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

In [51]:
try:
    df = pd.read_csv('../4_Pandas_Import_Export/data copy/vehicles_tab.txt')
except:
    try:
        df = pd.read_csv('../4_Pandas_Import_Export/data copy/vehicles_tab.txt', sep='-')
    except:
        try:
            df = pd.read_csv('../4_Pandas_Import_Export/data copy/vehicles_tab.txt', sep='\t')
        except:
            print('Nao deu')
            
        else:
            print('Foi')

Foi

In [53]:
pd.read_csv('../4_Pandas_Import_Export/data copy/exported_file_plusminus.csv')

    unplanted3Â±planted3Â±unplanted7Â±planted7Â±unplanted10Â±planted10Â±wetherÂ±parameterÂ±date
0    0.0Â±78.63695937090432Â±84.82099514128647Â±52.068...
1    0.0Â±14.61630375602467Â±14.015557268568108Â±0.0Â±4...
2    80.5119934640523Â±89.75289781761086Â±87.46047286...
3    75.90040229885058Â±87.40364856057779Â±80.6469465...
4    15.042990718474739Â±69.79454123661559Â±49.785407...
..                                                 ...
215  65.30944625407166Â±87.1536523929471Â±74.05405405...
216  0.0Â±48.5207100591716Â±38.206278026905835Â±0.0Â±34...
217  28.39506172839506Â±83.78378378378379Â±66.5594855...
218  59.6401028277635Â±100.0Â±44.281524926686224Â±100....
219  10.194174757281548Â±100.0Â±100.0Â±100.0Â±100.0Â±100...

[220 rows x 1 columns]

In [56]:
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-06-26/week13_alcohol_global.csv'

In [57]:
pd.read_csv(url)

URLError: <urlopen error [Errno 8] nodename nor servname provided, or not known>

In [62]:
df.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [64]:
df.tail(1)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [66]:
df[['Year', 'Cylinders', 'Drivetrain']].describe()

              Year     Cylinders
count  35952.00000  35952.000000
mean    2000.71640      5.765076
std       10.08529      1.755268
min     1984.00000      2.000000
25%     1991.00000      4.000000
50%     2001.00000      6.000000
75%     2010.00000      6.000000
max     2017.00000     16.000000

In [69]:
x = df['Drivetrain']

In [71]:
counts = x.value_counts()

In [73]:
counts.loc['All-Wheel Drive']

2039

In [76]:
df[['Year', 'Cylinders', 'Drivetrain']].describe().T.loc['Year','50%']

2001.0

In [77]:
df[['Year', 'Cylinders', 'Drivetrain']].describe()

              Year     Cylinders
count  35952.00000  35952.000000
mean    2000.71640      5.765076
std       10.08529      1.755268
min     1984.00000      2.000000
25%     1991.00000      4.000000
50%     2001.00000      6.000000
75%     2010.00000      6.000000
max     2017.00000     16.000000

# Data Manipulation - PART 1

In [78]:
import pandas as pd

data = pd.read_csv('vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [81]:
data.shape

(35952, 15)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [86]:
y = pd.DataFrame([1,2,3], index=['Andre','Bruno','Eduardo'])

In [87]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Andre to Eduardo
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [91]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Checking the dataframe column names

In [100]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [101]:
data.columns = [colname.lower() for colname in data.columns]

In [102]:
data.head()

,make,model,year,engine displacement,cylinders,transmission,drivetrain,vehicle class,fuel type,fuel barrels/year,city mpg,highway mpg,combined mpg,co2 emission grams/mile,fuel cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [112]:
data.dtypes['fuel type'] == str

False

In [126]:
data = pd.read_csv('vehicles/vehicles.csv')

renamed_columns = []

for colname in data.columns:
    if data.dtypes[colname] == float:
        colname = 'vlr_' + colname
    elif data.dtypes[colname] == object:
        colname = 'str_' + colname
    elif data.dtypes[colname] == int:
        colname = 'int_' + colname
        
    
    renamed_columns.append(colname.lower())

data.columns = renamed_columns

In [127]:
data

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle class,str_fuel type,vlr_fuel barrels/year,int_city mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile,int_fuel cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [129]:
data[['str_make', 'str_model']]

               str_make            str_model
0            AM General    DJ Po Vehicle 2WD
1            AM General     FJ8c Post Office
2            AM General  Post Office DJ5 2WD
3            AM General  Post Office DJ8 2WD
4      ASC Incorporated                  GNX
...                 ...                  ...
35947             smart         fortwo coupe
35948             smart         fortwo coupe
35949             smart         fortwo coupe
35950             smart         fortwo coupe
35951             smart         fortwo coupe

[35952 rows x 2 columns]

In [130]:
data.columns

Index(['str_make', 'str_model', 'int_year', 'vlr_engine displacement',
       'vlr_cylinders', 'str_transmission', 'str_drivetrain',
       'str_vehicle class', 'str_fuel type', 'vlr_fuel barrels/year',
       'int_city mpg', 'int_highway mpg', 'int_combined mpg',
       'vlr_co2 emission grams/mile', 'int_fuel cost/year'],
      dtype='object')

In [132]:
data = data[['int_fuel cost/year', 'str_make', 'str_model', 'int_year', 'vlr_engine displacement',
       'vlr_cylinders', 'str_transmission', 'str_drivetrain',
       'str_vehicle class', 'str_fuel type', 'vlr_fuel barrels/year',
       'int_city mpg', 'int_highway mpg', 'int_combined mpg',
       'vlr_co2 emission grams/mile']]

,int_fuel cost/year,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle class,str_fuel type,vlr_fuel barrels/year,int_city mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile
0,1950,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,2550,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,2100,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,2550,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,2550,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,1100,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,1100,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,1100,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,1100,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,1150,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

In [134]:
data[['str_make','str_make','str_make','str_make','int_fuel cost/year', 'str_make', 'str_model', 'int_year', 'vlr_engine displacement',
       'vlr_cylinders', 'str_transmission', 'str_drivetrain',
       'str_vehicle class', 'str_fuel type', 'vlr_fuel barrels/year',
       'int_city mpg', 'int_highway mpg', 'int_combined mpg',
       'vlr_co2 emission grams/mile']]

,str_make,str_make,str_make,str_make,int_fuel cost/year,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle class,str_fuel type,vlr_fuel barrels/year,int_city mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile
0,AM General,AM General,AM General,AM General,1950,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,AM General,AM General,AM General,2550,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,AM General,AM General,AM General,2100,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,AM General,AM General,AM General,2550,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,ASC Incorporated,ASC Incorporated,ASC Incorporated,2550,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,smart,smart,smart,1100,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,smart,smart,smart,1100,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,smart,smart,smart,1100,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,smart,smart,smart,1100,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,smart,smart,smart,1150,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

## NaN

In [156]:
pd.DataFrame(['a','s', 'c', np.nan]).dtypes

0    object
dtype: object

In [149]:
pd.DataFrame([1,2, 3, np.nan])

     0
0  1.0
1  2.0
2  3.0
3  NaN

In [144]:
type(np.nan)

float

In [157]:
8 == 8

True

In [159]:
np.nan != np.nan

True

In [163]:
x = np.array([1,5,6,np.nan]) 

x == x

array([ True,  True,  True, False])

## Accessing dataframes

> * .iloc
- Serve pra vocÃª selecionar uma parte do dataframe especificando o indice da linha 

> * .loc
- Serve pra vocÃª selecionar uma parte do dataframe especificando linhas e colunas.

In [170]:
data[100:200]

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle class,str_fuel type,vlr_fuel barrels/year,int_city mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile,int_fuel cost/year
100,Acura,Legend,1989,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
101,Acura,Legend,1990,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,20,18,493.722222,1850
102,Acura,Legend,1990,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
103,Acura,Legend,1991,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,18.311667,17,21,18,493.722222,2250
104,Acura,Legend,1991,3.2,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,16,24,19,467.736842,2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Acura,RL,2008,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
196,Acura,RL,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
197,Acura,RL,2010,3.7,6.0,Automatic (S5),All-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
198,Acura,RL,2011,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000
199,Acura,RL,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000

In [36]:
data['Year']

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [174]:
data.iloc[2:10, 0:5].iloc[2:]

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders
4,ASC Incorporated,GNX,1987,3.8,6.0
5,Acura,2.2CL/3.0CL,1997,2.2,4.0
6,Acura,2.2CL/3.0CL,1997,2.2,4.0
7,Acura,2.2CL/3.0CL,1997,3.0,6.0
8,Acura,2.3CL/3.0CL,1998,2.3,4.0
9,Acura,2.3CL/3.0CL,1998,2.3,4.0

## Loc

In [177]:
data.loc[2:10, :'vlr_cylinders']

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0
4,ASC Incorporated,GNX,1987,3.8,6.0
5,Acura,2.2CL/3.0CL,1997,2.2,4.0
6,Acura,2.2CL/3.0CL,1997,2.2,4.0
7,Acura,2.2CL/3.0CL,1997,3.0,6.0
8,Acura,2.3CL/3.0CL,1998,2.3,4.0
9,Acura,2.3CL/3.0CL,1998,2.3,4.0
10,Acura,2.3CL/3.0CL,1998,3.0,6.0

In [181]:
data.loc[2:10, ['str_make','str_model','int_year','vlr_engine displacement','vlr_cylinders']]

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0
4,ASC Incorporated,GNX,1987,3.8,6.0
5,Acura,2.2CL/3.0CL,1997,2.2,4.0
6,Acura,2.2CL/3.0CL,1997,2.2,4.0
7,Acura,2.2CL/3.0CL,1997,3.0,6.0
8,Acura,2.3CL/3.0CL,1998,2.3,4.0
9,Acura,2.3CL/3.0CL,1998,2.3,4.0
10,Acura,2.3CL/3.0CL,1998,3.0,6.0

In [184]:
data[data.columns[:6]]

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd
...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5)
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5)
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5)
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6)
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd

In [185]:
data.loc[:, data.columns[:6]]

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd
...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5)
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5)
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5)
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6)
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd

In [ ]:
# data[['Model','Year']] vs data.loc[:, ['Model','Year']]

In [58]:
data.iloc[10:20]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000

In [59]:
data.loc[10:20, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150

# Rename columns 
>    - Rename some columns
>    - Rename all columns
>    - The `Inplace` clause

In [190]:
# data.columns = ['uma_unica_coluna'] # error!!

In [60]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [197]:
data.head(1)

,str_make,str_model,int_year,vlr_engine displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle class,str_fuel type,vlr_fuel barrels/year,int_city mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile,int_fuel cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [199]:
data = data.rename({'str_make':'str_manufacturer'}, axis=1)

In [204]:
data.rename({'vlr_engine displacement': 'vlr_engine_displacement',
             'str_vehicle class': 'str_vehicle_class'}, axis=1, inplace=True)

In [206]:
y = data.rename({'int_city mpg': 'int_city_mpg'}, axis=1, inplace=True)

In [208]:
print(y)

None

In [210]:
data
y = data.rename({'str_fuel type': 'str_fuel_type'}, axis=1)

In [211]:
data.rename({'str_fuel type': 'str_fuel_type'}, axis=1)

,str_manufacturer,str_model,int_year,vlr_engine_displacement,vlr_cylinders,str_transmission,str_drivetrain,str_vehicle_class,str_fuel_type,vlr_fuel barrels/year,int_city_mpg,int_highway mpg,int_combined mpg,vlr_co2 emission grams/mile,int_fuel cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [63]:
data_renamed = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

# this is only printing on screen

In [67]:
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [69]:
data.head(2)
# the column names did not change.

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

Two options:
> 1. store it again on the variable `data`: 

    data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})
> 2. Use the inplace argument `inplace =  True` to change the values within the dataframe automatically

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [70]:
# using rename and storing the results in a variable
renamed_data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})

In [71]:
renamed_data.head(2)

,Manufacturer,Model,ANO,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [72]:
# using inplace
data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)

In [73]:
data.columns

Index(['Manufacturer', 'Model', 'ANO', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [74]:
data.columns = ['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement', 'Cylinders',
'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

In [76]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
# substituting the .columns attribute of the dataframe

cols = ['Manufacturer','Model','Year','Displacement',
        'Cylinders','Transmission','Drivetrain',
        'Vehicle Class','Fuel Type','Fuel Barrels/Year',
        'City MPG','Highway MPG','Combined MPG',
        'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns = cols
data.head(2)

# Change ORDER
>    - Remember you always pass a list to a dataframe

Just select the columns in a different order and overwrite the previous dataframe

In [79]:
data[['Manufacturer','Model']].head(2)

  Manufacturer              Model
0   AM General  DJ Po Vehicle 2WD
1   AM General   FJ8c Post Office

In [80]:
data[['Model', 'Manufacturer']].head(2)

               Model Manufacturer
0  DJ Po Vehicle 2WD   AM General
1   FJ8c Post Office   AM General

In [84]:
data.head()

,Manufacturer,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [81]:
data.columns

Index(['Manufacturer', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [89]:
columns = ['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA', 'Engine Displacement',
       'Cylinders', 'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', ]

In [85]:
data = data[columns]

In [88]:
data

,Manufacturer,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.

column_order = ['Year','Manufacturer','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]

In [113]:
data = data[['Model']]

In [114]:
data

                     Model
0        DJ Po Vehicle 2WD
1         FJ8c Post Office
2      Post Office DJ5 2WD
3      Post Office DJ8 2WD
4                      GNX
...                    ...
35947         fortwo coupe
35948         fortwo coupe
35949         fortwo coupe
35950         fortwo coupe
35951         fortwo coupe

[35952 rows x 1 columns]

In [ ]:
# data['Year','Manufacturer'] # WRONG - not a list, you passed a string.



data = data[['Year','Manufacturer','Model','Vehicle Class',
'Transmission','Drivetrain','Fuel Type',
'Cylinders','Displacement','Fuel Barrels/Year',
'City MPG','Highway MPG','Combined MPG',
'CO2 Emission Grams/Mile','Fuel Cost/Year']]

In [ ]:
data.head(2)

In [98]:
data.columns

Index(['Manufacturer', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

In [103]:

column_test = ['', 'Fuel Cost/Year', 'Model', 'ANOBLABLABLA',
       'Engine Displacement', 'Cylinders', 'Transmission', 'Drivetrain',
       'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year', 'City MPG',
       'Highway MPG', '', 'CO2 Emission Grams/Mile']

data.columns = column_test

In [104]:
data

,,Fuel Cost/Year,Model,ANOBLABLABLA,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,,CO2 Emission Grams/Mile
0,AM General,1950,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706
1,AM General,2550,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
2,AM General,2100,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500
3,AM General,2550,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385
4,ASC Incorporated,2550,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,1100,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35948,smart,1100,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000
35949,smart,1100,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000
35950,smart,1100,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000
35951,smart,1150,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000

# Filter records
>    - masks 
>    - query

This is really important for data wrangling.

In [213]:
data = pd.read_csv('vehicles/vehicles.csv')

In [214]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

## Simple Example: Starting with a numpy array. How can I filter the values of a list?

In [215]:
import numpy as np

In [216]:
my_array = np.array([1,2,3,4,5,6,7,8,9,10])

In [224]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [221]:
my_array > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [223]:
my_array[5:]

array([ 6,  7,  8,  9, 10])

In [225]:
my_array[ [False, False, False, False, False,  True,  True,  True,  True, True] ]

array([ 6,  7,  8,  9, 10])

In [226]:
my_array[ my_array > 5 ]

array([ 6,  7,  8,  9, 10])

In [227]:
my_array[ my_array > 5 ] = 10

In [228]:
my_array

array([ 1,  2,  3,  4,  5, 10, 10, 10, 10, 10])

In [229]:
condition = my_array > 5 
condition

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [230]:
my_array = np.array([1,2,3,4,5,6,7,8,9,10])

In [231]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [235]:
my_array > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [238]:
(my_array > 5).all()

False

In [240]:
(my_array > 5) and (my_array < 8)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [241]:
(my_array > 5)

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [242]:
(my_array < 8)

array([ True,  True,  True,  True,  True,  True,  True, False, False,
       False])

## Bitwise logical operators

In [243]:
(my_array > 5) & (my_array < 8)

array([False, False, False, False, False,  True,  True, False, False,
       False])

In [260]:
(my_array > 5) or (my_array < 8)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [261]:
(my_array > 5) | (my_array < 8)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [268]:
(my_array > 5) & (my_array < 8)

array([False, False, False, False, False,  True,  True, False, False,
       False])

In [269]:
condition1 = my_array > 5
condition2 = my_array < 8

In [270]:
condition1 & condition2

array([False, False, False, False, False,  True,  True, False, False,
       False])

In [271]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [272]:
# this is what is called a mask (or a condition)
my_array > 6

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [273]:
my_array[3:6]

array([4, 5, 6])

In [265]:
my_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [124]:
my_array > 3

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [128]:
my_array[[False, False, False,  True,  True,  True,  True,  True,  True, True]]

array([ 4,  5,  6,  7,  8,  9, 10])

In [132]:
condition = (my_array > 3)
condition

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [135]:
(my_array > 3)

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [137]:
(my_array < 8)

array([ True,  True,  True,  True,  True,  True,  True, False, False,
       False])

In [138]:
# when you use this mask, it only returns the values for which the results were True
my_array[(my_array > 3)]

array([ 4,  5,  6,  7,  8,  9, 10])

## Now in a dataframe

Let's find the rows in which the Cylinders values are exactly 6.

In [276]:
data['Cylinders'].unique()

array([ 4.,  6.,  5.,  8., 12., 10.,  2.,  3., 16.])

In [277]:
data['Cylinders']

0        4.0
1        6.0
2        4.0
3        6.0
4        6.0
        ...
35947    3.0
35948    3.0
35949    3.0
35950    3.0
35951    3.0
Name: Cylinders, Length: 35952, dtype: float64

In [278]:
data['Cylinders'] == 4

0         True
1        False
2         True
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [293]:
mask = data['Cylinders'] == 4



data.loc[mask, :'City MPG'].describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG
count,13494.000000,13494.000000,13494.0,13494.000000,13494.000000
mean,1999.780643,2.066570,4.0,14.120702,21.560323
std,10.577768,0.342586,0.0,2.430966,4.291657
min,1984.000000,1.000000,4.0,0.060000,11.000000
25%,1990.000000,1.800000,4.0,12.677308,19.000000
50%,1999.000000,2.000000,4.0,14.330870,21.000000
75%,2010.000000,2.400000,4.0,15.695714,23.000000
max,2017.000000,3.500000,4.0,27.467500,58.000000

In [300]:
mask_cylinder = data['Cylinders'] == 4
mask_nome = data['Make'] == 'Acura'


data.loc[mask_cylinder & mask_nome, 'Fuel Cost/Year'] = 2000

In [302]:
data.loc[mask_cylinder & mask_nome, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,2000
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,2000
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,2000
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,2000
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Acura,TSX,2014,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.733750,21,29,24,370.000000,2000
293,Acura,TSX Wagon,2011,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
294,Acura,TSX Wagon,2012,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
295,Acura,TSX Wagon,2013,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000
296,Acura,TSX Wagon,2014,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000

In [306]:
data.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,2000
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,2000
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,2000
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,2000

In [292]:
data.loc[mask, :'City MPG']

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19
...,...,...,...,...,...,...,...,...,...,...,...
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22

In [280]:
mask

0         True
1        False
2         True
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [139]:
data['Cylinders'].value_counts()

4.0     13494
6.0     12765
8.0      7998
5.0       723
12.0      562
3.0       201
10.0      153
2.0        48
16.0        8
Name: Cylinders, dtype: int64

In [140]:
data['Cylinders']

0        4.0
1        6.0
2        4.0
3        6.0
4        6.0
        ...
35947    3.0
35948    3.0
35949    3.0
35950    3.0
35951    3.0
Name: Cylinders, Length: 35952, dtype: float64

In [141]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [144]:
data_bkp = data.copy()

In [142]:
(data['Cylinders'] = 6).sum()

12765

In [151]:
data['Cylinders'] == 6

0        False
1         True
2        False
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Cylinders, Length: 35952, dtype: bool

In [152]:
data['Cylinders'] == 6


data[data['Cylinders'] == 6]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35900,Wallace Environmental,Wetl 300 GE,1991,2.9,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Premium,27.467500,11,13,12,740.583333,3400
35901,Wallace Environmental,Wetl 300 SL,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35902,Wallace Environmental,Wetl 300 SL,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35903,Wallace Environmental,Wetl 300 TE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700
35904,Wallace Environmental,Wetl 300 TE,1992,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700

In [307]:
data.iloc[data['Cylinders'] == 6, :]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [161]:
condition = (data['Cylinders'] == 6)

data.loc[condition, ['Make','Model']]

                        Make                Model
1                 AM General     FJ8c Post Office
3                 AM General  Post Office DJ8 2WD
4           ASC Incorporated                  GNX
7                      Acura          2.2CL/3.0CL
10                     Acura          2.3CL/3.0CL
...                      ...                  ...
35900  Wallace Environmental          Wetl 300 GE
35901  Wallace Environmental          Wetl 300 SL
35902  Wallace Environmental          Wetl 300 SL
35903  Wallace Environmental          Wetl 300 TE
35904  Wallace Environmental          Wetl 300 TE

[12765 rows x 2 columns]

In [162]:
data[data['Cylinders'] == 6]['Cylinders'].value_counts()

6.0    12765
Name: Cylinders, dtype: int64

## You can combine conditions

In [172]:
np.array([False, False, True]) and np.array([False, True, True])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [312]:
data.loc[(data['Make'] == 'Ford') & (data['Cylinders'] == 6) & (data['Combined MPG'] < 18), :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [313]:
filtered = data.loc[(data['Make']=='Ford') &
                    (data['Cylinders']==6) &
                    (data['Combined MPG'] < 18)]

filtered

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [317]:
filtered.reset_index(drop=True)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
1,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
2,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
3,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
4,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
676,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
677,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
678,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
679,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

## You can put the conditions in variables as well

In [179]:
condition1 = (data['Make']=='Ford')
condition2 = (data['Cylinders']==6)
condition3 = (data['Combined MPG'] < 18)

In [180]:
data[condition1 & condition2 & condition3]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

In [181]:
data.loc[condition1 & condition2 & condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14376,Ford,Windstar FWD Wagon,1997,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
14379,Ford,Windstar FWD Wagon,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14380,Ford,Windstar FWD Wagon,1999,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950

## Another way to do the same thing.

* using the method `query`

The method `query` receives a string in which you can say your condition. Important things:
- `query` is a method of your dataframe
- the columns of the dataframe DOES NOT NEED to be inside quotation marks `"`, because it searchs for it in your dataframe
- the values you are trying to compare needs to be with the same type as it is in your dataframe
- If your column has spaces, you have to call it using backticks like in the example below:

In [320]:
data.query('Make == "Acura" and Cylinders == 4')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,2000
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,2000
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,2000
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,2000
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Acura,TSX,2014,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.733750,21,29,24,370.000000,2000
293,Acura,TSX Wagon,2011,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
294,Acura,TSX Wagon,2012,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
295,Acura,TSX Wagon,2013,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000
296,Acura,TSX Wagon,2014,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000

In [322]:
numero_cilindros = 4
data.query(f'Make == "Acura" and Cylinders == {numero_cilindros}')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,2000
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,2000
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,2000
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,2000
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Acura,TSX,2014,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.733750,21,29,24,370.000000,2000
293,Acura,TSX Wagon,2011,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
294,Acura,TSX Wagon,2012,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,2000
295,Acura,TSX Wagon,2013,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000
296,Acura,TSX Wagon,2014,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,2000

In [326]:
data.columns != 'Year'

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [329]:
data.loc[:, :'Cylinders', 'Fuel Type':'Fuel Cost/Year']

SyntaxError: invalid syntax (<ipython-input-329-0c6d4a94d71c>, line 1)

In [ ]:
selected_columns =

In [335]:
data.head(1)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950

In [185]:
%%timeit

data.loc[condition1 & condition2 & condition3, :]

613 Âµs Â± 2.53 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

# Conditional Categories
    - Mask
    - .loc

In [ ]:
data['Transmission']

In [ ]:
data['Transmission'].str.startswith('A')

## I want to create a new column called TransType and call it "Automatic" if the value in Transmission starts with A, if it startswith M, I want to call it "Manual"

In [ ]:
data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [ ]:
data.TransType.value_counts()

------

In [36]:
df.loc[condition1 or condition2 or condition3, :]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [37]:
df.loc[condition1 | condition2 | condition3, :]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [42]:
condition1 | condition2

0        True
1        True
2        True
3        True
4        True
         ...
35947    True
35948    True
35949    True
35950    True
35951    True
Length: 35952, dtype: bool

In [47]:
(df.Year > 1984) & (df.Year < 1986)

0        False
1        False
2         True
3         True
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Year, Length: 35952, dtype: bool

In [52]:
f'1984 < Year < {ano}'

'1984 < Year < 1996'

In [51]:
ano = 1996
df.query(f'1984 < Year < {ano}')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
49,Acura,Integra,1986,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350

# Data Manipulation - PART 2

# Group by 
>    - Aggregating function (f)
>    - as_index = False
>    - ```pd.merge``` 
>    - `left_on`, `right_on`

In [ ]:
data = pd.read_csv('vehicles/vehicles.csv')
data.rename(columns={'Make':'Manufacturer'}, inplace=True)
# inplace=True segundo a Fernanda

In [ ]:
data = data.rename(columns={'Make':'Manufacturer'})

In [ ]:
data.head()

In [ ]:
# data['Manufacturer'] # o mesmo que data.Manufacturer

data.Manufacturer.unique()

In [ ]:
data.groupby(by='Manufacturer')

In [ ]:
data.groupby(by='Manufacturer').mean()

In [ ]:
data.Drivetrain.unique()

In [ ]:
data.Year.describe()

In [ ]:
(data.groupby(by='Drivetrain')).describe().T

In [ ]:
data.Cylinders.unique()

In [ ]:
data.groupby(by='Cylinders')

In [ ]:
data.query('Cylinders == 2')['Fuel Cost/Year'].mean()

In [ ]:
data.query('Cylinders == 2')

In [ ]:
data.groupby(by='Cylinders').count()

In [ ]:
data.groupby(by='Cylinders').mean()[['Fuel Cost/Year']]

In [ ]:
avg_mpg = data.groupby(by='Manufacturer').mean()
avg_mpg.head()

In [ ]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg.head()

In [ ]:
avg_mpg = data.groupby(by='Manufacturer').mean()

In [ ]:
# avg_mpg.reset_index().query('Year > 1990').reset_index(drop=True)

In [ ]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg

# avg_mpg[['Manufacturer', 'Combined MPG']].head()

In [ ]:
# mais de uma chave

data.groupby(by=['Manufacturer','Cylinders']).mean()

In [ ]:
data.groupby(by=['Manufacturer','Cylinders'], as_index=False).mean()

In [ ]:
avg_mpg_two_keys = data.groupby(by=['Manufacturer','Cylinders']).mean().reset_index()

## Rename it using .rename if you want

In [ ]:
avg_mpg.rename(columns={'Fuel Cost/Year': 'avg_fuel_cost_year'})

In [ ]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(['mean','count'])

In [ ]:
avg_fuel = data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(avg_fuel='mean',qtd_fuel='count').reset_index()
avg_fuel

In [ ]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].describe()

In [ ]:
avg_mpg

In [ ]:
data

# How to merge dataframes based on a specific column

In [ ]:
avg_mpg.rename(columns={'Fuel Cost/Year':'avg_fuel_cost'}, inplace=True)

In [ ]:
avg_mpg.head()

In [ ]:
data.head()

In [ ]:
pd.merge(left=data, right=avg_mpg, on='Manufacturer')

In [ ]:
merged_table = pd.merge(left=data, right=avg_mpg[['Manufacturer','avg_fuel_cost']], on='Manufacturer')

## E se tivessemos nomes diferentes de coluna Manufacturer

In [ ]:
avg_mpg.rename(columns={'Manufacturer':'Make'}, inplace=True)

In [ ]:
avg_mpg.head(2)

In [ ]:
data.head(2)

In [ ]:
pd.merge(left=data,
         right=avg_mpg[['Make','avg_fuel_cost']],
         left_on='Manufacturer',
         right_on='Make')

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Manu').head(2)

# How to concatenate dataframes?

In [ ]:
# creating a dataframe containing only the Manufacturer Lexus
lexus = data.loc[data['Manufacturer']=='Lexus', :]
lexus.head(2)

In [ ]:
# creating a dataframe containing only the Manufacturer Audi
audi = data.loc[data['Manufacturer'] == 'Audi', :]

In [ ]:
audi.head(2)

In [ ]:
# Concatenating both results

lexus_audi = pd.concat([lexus, audi], axis=0)
# lexus_audi.reset_index(drop=True).drop(columns=[''])

lexus_audi.reset_index(drop=True)

In [ ]:
# Concatenating both results

# pd.concat([lexus, audi], axis=1)

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Make', indicator=True)

In [ ]:
data.to_json('vehicles/test.json', orient='records')

In [ ]:
melted = pd.melt(data, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted.head(10)

# Bins
> ```pd.cut``` vs ```pd.qcut```
> - Specify cutoffs

> - Use case
>     - Scores ~ decis (0,1,2,3,4,5,6,7,8,9)


Suppose I want to break the values of the variable `Combined MPG` into 5 categories: From Very Low to Very High

In [ ]:
data.head()

In [ ]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [ ]:
# performing the pd.cut operation without specifiyng the labels outputs the intervals
bins = pd.cut(data['Fuel Cost/Year'], 5)
bins

In [ ]:
# performing the pd.cut operation using the labels argument outputs your labels
bins = pd.cut(data['Fuel Cost/Year'], 5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins = pd.qcut(data['Fuel Cost/Year'],5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts()

In [ ]:
cutoffs = [1000,1500,2000,2500,3000,3500]
bins = pd.cut(data['Fuel Cost/Year'], cutoffs, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts(sort=False)

# Convert categorical variables columns
>    - One hot encoding

In [ ]:
data[['Drivetrain']]
# count the values within each category

In [ ]:
data['Drivetrain'].unique()

In [ ]:
data[['Drivetrain']].head()

In [ ]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()