# Data Manipulation - PART 2

In [342]:
import pandas as pd

In [491]:
df = pd.DataFrame({'nome':['Matheus','Matheus','Matheus','Andre','Lucas', 'Lucas', 'Rai','Andre', 'Andre'],
                   'nota' :[9, 0, 0, 10, 9, 7, 1, 10, 9.9]})


df

      nome  nota
0  Matheus   9.0
1  Matheus   0.0
2  Matheus   0.0
3    Andre  10.0
4    Lucas   9.0
5    Lucas   7.0
6      Rai   1.0
7    Andre  10.0
8    Andre   9.9

In [354]:
mask = df['nome'] == 'Matheus'
mask

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: nome, dtype: bool

In [355]:
df[mask]

      nome  nota
0  Matheus   9.0
1  Matheus   0.0
2  Matheus   0.0

In [356]:
df.loc[mask, :]

      nome  nota
0  Matheus   9.0
1  Matheus   0.0
2  Matheus   0.0

In [357]:
df.loc[mask, :].mean()

nota    3.0
dtype: float64

In [359]:
df['nome'].unique()

array(['Matheus', 'Andre', 'Lucas', 'Rai'], dtype=object)

In [364]:
df.sort_values(by='nota', ascending=False)

      nome  nota
3    Andre  10.0
7    Andre  10.0
8    Andre   9.9
0  Matheus   9.0
4    Lucas   9.0
5    Lucas   7.0
6      Rai   1.0
1  Matheus   0.0
2  Matheus   0.0

In [370]:
df.groupby(by='nome').describe()

         nota
        count      mean       std  min   25%   50%   75%   max
nome
Andre     3.0  9.966667  0.057735  9.9  9.95  10.0  10.0  10.0
Lucas     2.0  8.000000  1.414214  7.0  7.50   8.0   8.5   9.0
Matheus   3.0  3.000000  5.196152  0.0  0.00   0.0   4.5   9.0
Rai       1.0  1.000000       NaN  1.0  1.00   1.0   1.0   1.0

In [372]:
x = df.groupby(by='nome')

In [ ]:
x.agg()

In [376]:
df.groupby(by='nome').agg({max, min, np.mean})

         nota
          max  min      mean
nome
Andre    10.0  9.9  9.966667
Lucas     9.0  7.0  8.000000
Matheus   9.0  0.0  3.000000
Rai       1.0  1.0  1.000000

In [378]:
y = df.groupby(by='nome').mean()
y

             nota
nome
Andre    9.966667
Lucas    8.000000
Matheus  3.000000
Rai      1.000000

In [380]:
y.loc['Andre']

nota    9.966667
Name: Andre, dtype: float64

In [382]:
df.groupby(by='nome', as_index=False).mean()

      nome      nota
0    Andre  9.966667
1    Lucas  8.000000
2  Matheus  3.000000
3      Rai  1.000000

In [385]:
df.groupby(by='nome').agg(max)

         nota
nome
Andre    10.0
Lucas     9.0
Matheus   9.0
Rai       1.0

In [386]:
df.groupby(by='nome').max()

         nota
nome
Andre    10.0
Lucas     9.0
Matheus   9.0
Rai       1.0

In [384]:
df.groupby(by='nome').agg({max, min, np.mean}).columns

MultiIndex([('nota',  'max'),
            ('nota',  'min'),
            ('nota', 'mean')],
           )

In [390]:
df.groupby(by='nome').agg({max, min, np.mean})[('nota','max')]

nome
Andre      10.0
Lucas       9.0
Matheus     9.0
Rai         1.0
Name: (nota, max), dtype: float64

In [391]:
df.groupby(by='nome').agg({max, min, np.mean})

         nota
          max  min      mean
nome
Andre    10.0  9.9  9.966667
Lucas     9.0  7.0  8.000000
Matheus   9.0  0.0  3.000000
Rai       1.0  1.0  1.000000

## Named aggregation

In [401]:
df.groupby(by='nome').agg(nota_max = ('nota','max'), 
                          nota_min = ('nota', min),
                          nota_avg = ('nota','mean')).reset_index()

      nome  nota_max  nota_min  nota_avg
0    Andre      10.0       9.9  9.966667
1    Lucas       9.0       7.0  8.000000
2  Matheus       9.0       0.0  3.000000
3      Rai       1.0       1.0  1.000000

# Group by 
>    - Aggregating function (f)
>    - Named aggregation
>    - as_index = False
>    - ```pd.merge``` 
>    - `left_on`, `right_on`

In [402]:
data = pd.read_csv('vehicles/vehicles.csv')
data.rename(columns={'Make':'Manufacturer'}, inplace=True)

In [403]:
data.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [404]:
data.groupby(by='Manufacturer')

In [406]:
data['Year']

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [407]:
data.Year

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [ ]:
data[]

In [412]:
data.groupby(by='Manufacturer')[['Year','Engine Displacement']].mean()

                                    Year  Engine Displacement
Manufacturer
AM General                   1984.500000             3.350000
ASC Incorporated             1987.000000             3.800000
Acura                        2003.493377             2.834768
Alfa Romeo                   1991.878049             2.556098
American Motors Corporation  1984.590909             3.813636
...                                  ...                  ...
Volkswagen                   2002.928367             2.236008
Volvo                        2002.182706             2.504742
Wallace Environmental        1991.500000             4.315625
Yugo                         1988.375000             1.200000
smart                        2012.500000             0.980000

[127 rows x 2 columns]

In [413]:
data.Drivetrain.unique()

array(['2-Wheel Drive', 'Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', 'All-Wheel Drive', '4-Wheel Drive',
       'Part-time 4-Wheel Drive', '2-Wheel Drive, Front'], dtype=object)

In [414]:
data.Year.describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [421]:
pd.options.display.max_rows = 200

In [422]:
data.groupby(by='Drivetrain').describe().T

Drivetrain                     2-Wheel Drive  2-Wheel Drive, Front  \
Year                    count     423.000000              1.000000
                        mean     1984.434988           2017.000000
                        std         2.720800                   NaN
                        min      1984.000000           2017.000000
                        25%      1984.000000           2017.000000
                        50%      1984.000000           2017.000000
                        75%      1984.000000           2017.000000
                        max      2006.000000           2017.000000
Engine Displacement     count     423.000000              1.000000
                        mean        3.958392              2.000000
                        std         1.467328                   NaN
                        min         1.600000              2.000000
                        25%         2.400000              2.000000
                        50%         4.100000              2.000000
                        75%         5.000000              2.000000
                        max         6.200000              2.000000
Cylinders               count     423.000000              1.000000
                        mean        6.156028              4.000000
                        std         1.647706                   NaN
                        min         4.000000              4.000000
                        25%         4.000000              4.000000
                        50%         6.000000              4.000000
                        75%         8.000000              4.000000
                        max         8.000000              4.000000
Fuel Barrels/Year       count     423.000000              1.000000
                        mean       21.069467             11.771786
                        std         5.060930                   NaN
                        min        12.207778             11.771786
                        25%        17.347895             11.771786
                        50%        20.600625             11.771786
                        75%        25.354615             11.771786
                        max        36.623333             11.771786
City MPG                count     423.000000              1.000000
                        mean       15.624113             25.000000
                        std         4.148098                   NaN
                        min         8.000000             25.000000
                        25%        13.000000             25.000000
                        50%        15.000000             25.000000
                        75%        18.000000             25.000000
                        max        31.000000             25.000000
Highway MPG             count     423.000000              1.000000
                        mean       19.340426             33.000000
                        std         5.154251                   NaN
                        min        10.000000             33.000000
                        25%        15.000000             33.000000
                        50%        19.000000             33.000000
                        75%        22.000000             33.000000
                        max        35.000000             33.000000
Combined MPG            count     423.000000              1.000000
                        mean       17.009456             28.000000
                        std         4.506436                   NaN
                        min         9.000000             28.000000
                        25%        13.000000             28.000000
                        50%        16.000000             28.000000
                        75%        20.000000             28.000000
                        max        31.000000             28.000000
CO2 Emission Grams/Mile count     423.000000              1.000000
                        mean      567.245856            315.000000
                        std       136.918995                   NaN
                        min       328.387097            315.000000
                        25%       467.736842            315.000000
                        50%       555.437500            315.000000
                        75%       683.615385            315.000000
                        max       987.444444            315.000000
Fuel Cost/Year          count     423.000000              1.000000
                        mean     2115.011820           1450.000000
                        std       528.079268                   NaN
                        min      1150.000000           1450.000000
                        25%      1750.000000           1450.000000
                        50%      2100.000000           1450.000000
                        75%      2550.000000           1450.000000
                        max      3700.000000           1450.000000

Drivetrain                     4-Wheel Drive  4-Wheel or All-Wheel Drive  \
Year                    count    1058.000000                 6503.000000
                        mean     2013.137996                 1998.014916
                        std         2.896488                    7.971550
                        min      1986.000000                 1984.000000
                        25%      2011.000000                 1991.000000
                        50%      2013.000000                 1999.000000
                        75%      2015.000000                 2005.000000
                        max      2017.000000                 2010.000000
Engine Displacement     count    1058.000000                 6503.000000
                        mean        4.022306                    3.746917
                        std         1.236535                    1.303163
                        min         2.000000                    1.000000
                        25%         3.000000                    2.500000
                        50%         3.800000                    3.600000
                        75%         5.300000                    4.800000
                        max         6.400000                    8.000000
Cylinders               count    1058.000000                 6503.000000
                        mean        6.364839                    6.143626
                        std         1.486989                    1.609619
                        min         4.000000                    3.000000
                        25%         6.000000                    5.000000
                        50%         6.000000                    6.000000
                        75%         8.000000                    8.000000
                        max        12.000000                   16.000000
Fuel Barrels/Year       count    1058.000000                 6503.000000
                        mean       17.942952                   20.484720
                        std         3.259701                    3.924342
                        min        10.803703                    0.206667
                        25%        15.695714                   17.347895
                        50%        17.347895                   20.600625
                        75%        19.388824                   23.543571
                        max        29.964545                   36.623333
City MPG                count    1058.000000                 6503.000000
                        mean       16.913989                   15.035061
                        std         3.318361                    2.948340
                        min        10.000000                    8.000000
                        25%        15.000000                   13.000000
                        50%        17.000000                   15.000000
                        75%        19.000000                   17.000000
                        max        30.000000                   29.000000
Highway MPG             count    1058.000000                 6503.000000
                        mean       22.741966                   19.633708
                        std         3.947929                    3.678345
                        min        12.000000                   10.000000
                        25%        20.000000                   17.000000
                        50%        22.000000                   19.000000
                        75%        26.000000                   22.000000
                        max        38.000000                   32.000000
Combined MPG            count    1058.000000                 6503.000000
                        mean       19.077505                   16.744733
                        std         3.502350                    3.134586
                        min        11.000000                    9.000000
                        25%        17.000000                   15.000000
                        50%        19.000000                   16.000000
                        75%        21.000000                   19.000000
                        max        31.000000                   28.000000
CO2 Emission Grams/Mile count    1058.000000                 6503.000000
                        mean      483.555289                  552.307814
                        std        88.139466                  105.329217
                        min       294.000000                  317.392857
                        25%       417.000000                  467.736842
                        50%       475.000000                  555.437500
                        75%       535.789474                  634.785714
                        max       807.909091                  987.444444
Fuel Cost/Year          count    1058.000000                 6503.000000
                        mean     1971.644612                 2165.023835
                        std       404.766233                  431.073887
                        min      1150.000000                 1200.000000
                        25%      1700.000000                 1850.000000
                        50%      1950.000000                 2150.000000
                        75%      2200.000000                 2400.000000
                        max      3400.000000                 4050.000000

Drivetrain                     All-Wheel Drive  Front-Wheel Drive  \
Year                    count      2039.000000       13044.000000
                        mean       2013.678274        2000.290632
                        std           2.242307           9.795178
                        min        2009.000000        1985.000000
                        25%        2012.000000        1992.000000
                        50%        2014.000000        2000.000000
                        75%        2016.000000        2009.000000
                        max        2017.000000        2017.000000
Engine Displacement     count      2039.000000       13044.000000
                        mean          3.299019           2.353657
                        std           1.140295           0.705472
                        min           1.400000           1.000000
                        25%           2.400000           1.800000
                        50%           3.000000           2.200000
                        75%           3.700000           2.800000
                        max           8.000000           5.700000
Cylinders               count      2039.000000       13044.000000
                        mean          5.980383           4.608172
                        std           1.891722           0.979917
                        min           3.000000           3.000000
                        25%           4.000000           4.000000
                        50%           6.000000           4.000000
                        75%           6.000000           6.000000
                        max          16.000000           8.000000
Fuel Barrels/Year       count      2039.000000       13044.000000
                        mean         16.349672          14.266654
                        std           3.262979           2.575775
                        min           7.356924           0.060000
                        25%          14.330870          12.677308
                        50%          15.695714          14.330870
                        75%          17.347895          16.480500
                        max          32.961000          23.543571
City MPG                count      2039.000000       13044.000000
                        mean         18.312898          21.174563
                        std           3.750196           4.877975
                        min           8.000000          12.000000
                        25%          16.000000          18.000000
                        50%          18.000000          20.000000
                        75%          20.000000          23.000000
                        max          34.000000          58.000000
Highway MPG             count      2039.000000       13044.000000
                        mean         25.597352          28.616759
                        std           4.180450           5.018903
                        min          13.000000          16.000000
                        25%          23.000000          25.000000
                        50%          25.000000          28.000000
                        75%          28.000000          31.000000
                        max          43.000000          61.000000
Combined MPG            count      2039.000000       13044.000000
                        mean         20.930358          23.912220
                        std           3.872990           4.865251
                        min          10.000000          14.000000
                        25%          19.000000          20.000000
                        50%          21.000000          23.000000
                        75%          23.000000          26.000000
                        max          35.000000          56.000000
CO2 Emission Grams/Mile count      2039.000000       13044.000000
                        mean        439.612624         385.094288
                        std          87.544296          67.848907
                        min         198.000000          51.000000
                        25%         382.000000         341.807692
                        50%         429.000000         386.391304
                        75%         476.000000         444.350000
                        max         888.700000         634.785714
Fuel Cost/Year          count      2039.000000       13044.000000
                        mean       1863.217263        1503.131708
                        std         437.788903         301.615875
                        min        1000.000000         600.000000
                        25%        1550.000000        1300.000000
                        50%        1750.000000        1450.000000
                        75%        2150.000000        1650.000000
                        max        4050.000000        2700.000000

Drivetrain                     Part-time 4-Wheel Drive  Rear-Wheel Drive
Year                    count               158.000000      12726.000000
                        mean               2013.816456       1999.801037
                        std                   2.080662          9.964031
                        min                2010.000000       1984.000000
                        25%                2012.000000       1991.000000
                        50%                2014.000000       2000.000000
                        75%                2016.000000       2009.000000
                        max                2017.000000       2017.000000
Engine Displacement     count               158.000000      12726.000000
                        mean                  4.543671          4.053245
                        std                   1.170466          1.326280
                        min                   2.700000          0.600000
                        25%                   3.500000          3.000000
                        50%                   4.300000          4.000000
                        75%                   5.700000          5.000000
                        max                   6.300000          8.400000
Cylinders               count               158.000000      12726.000000
                        mean                  7.113924          6.643486
                        std                   1.895266          1.795290
                        min                   4.000000          2.000000
                        25%                   6.000000          6.000000
                        50%                   7.000000          6.000000
                        75%                   8.000000          8.000000
                        max                  12.000000         12.000000
Fuel Barrels/Year       count               158.000000      12726.000000
                        mean                 20.628218         19.587486
                        std                   2.867901          4.219505
                        min                  16.480500          0.103333
                        25%                  18.311667         16.480500
                        50%                  20.600625         19.388824
                        75%                  21.974000         21.974000
                        max                  29.964545         47.087143
City MPG                count               158.000000      12726.000000
                        mean                 14.620253         15.422049
                        std                   2.201932          3.173864
                        min                  10.000000          6.000000
                        25%                  13.000000         13.250000
                        50%                  14.500000         15.000000
                        75%                  16.000000         17.000000
                        max                  19.000000         41.000000
Highway MPG             count               158.000000      12726.000000
                        mean                 19.088608         21.225680
                        std                   2.133684          4.411610
                        min                  12.000000          9.000000
                        25%                  17.000000         18.000000
                        50%                  19.000000         21.000000
                        75%                  21.000000         24.000000
                        max                  23.000000         45.000000
Combined MPG            count               158.000000      12726.000000
                        mean                 16.272152         17.526481
                        std                   2.149356          3.537535
                        min                  11.000000          7.000000
                        25%                  15.000000         15.000000
                        50%                  16.000000         18.000000
                        75%                  18.000000         20.000000
                        max                  20.000000         39.000000
CO2 Emission Grams/Mile count               158.000000      12726.000000
                        mean                556.205134        529.438424
                        std                  77.335703        110.528332
                        min                 441.000000         37.000000
                        25%                 493.722222        444.350000
                        50%                 545.500000        517.000000
                        75%                 608.750000        592.466667
                        max                 805.000000       1269.571429
Fuel Cost/Year          count               158.000000      12726.000000
                        mean               2131.645570       2140.397611

In [415]:
(data.groupby(by='Drivetrain')).describe().T

Drivetrain            2-Wheel Drive  2-Wheel Drive, Front  4-Wheel Drive  \
Year           count     423.000000                   1.0    1058.000000
               mean     1984.434988                2017.0    2013.137996
               std         2.720800                   NaN       2.896488
               min      1984.000000                2017.0    1986.000000
               25%      1984.000000                2017.0    2011.000000
...                             ...                   ...            ...
Fuel Cost/Year min      1150.000000                1450.0    1150.000000
               25%      1750.000000                1450.0    1700.000000
               50%      2100.000000                1450.0    1950.000000
               75%      2550.000000                1450.0    2200.000000
               max      3700.000000                1450.0    3400.000000

Drivetrain            4-Wheel or All-Wheel Drive  All-Wheel Drive  \
Year           count                 6503.000000      2039.000000
               mean                  1998.014916      2013.678274
               std                      7.971550         2.242307
               min                   1984.000000      2009.000000
               25%                   1991.000000      2012.000000
...                                          ...              ...
Fuel Cost/Year min                   1200.000000      1000.000000
               25%                   1850.000000      1550.000000
               50%                   2150.000000      1750.000000
               75%                   2400.000000      2150.000000
               max                   4050.000000      4050.000000

Drivetrain            Front-Wheel Drive  Part-time 4-Wheel Drive  \
Year           count       13044.000000               158.000000
               mean         2000.290632              2013.816456
               std             9.795178                 2.080662
               min          1985.000000              2010.000000
               25%          1992.000000              2012.000000
...                                 ...                      ...
Fuel Cost/Year min           600.000000              1650.000000
               25%          1300.000000              1850.000000
               50%          1450.000000              2100.000000
               75%          1650.000000              2200.000000
               max          2700.000000              3700.000000

Drivetrain            Rear-Wheel Drive
Year           count      12726.000000
               mean        1999.801037
               std            9.964031
               min         1984.000000
               25%         1991.000000
...                                ...
Fuel Cost/Year min         1000.000000
               25%         1850.000000
               50%         2100.000000
               75%         2400.000000
               max         5800.000000

[72 rows x 8 columns]

In [423]:
data.Cylinders.unique()

array([ 4.,  6.,  5.,  8., 12., 10.,  2.,  3., 16.])

In [424]:
data.groupby(by='Cylinders')

In [425]:
data.query('Cylinders == 2')['Fuel Cost/Year'].mean()

2004.1666666666667

In [ ]:
data.groupby(by='Cylinders').count()

In [438]:
data.groupby(by='Cylinders').agg(avg_fuel = ('Fuel Cost/Year', 'mean'),
                                 qtd_fuel = ('Fuel Cost/Year', 'count'))\
                            .sort_values(by='avg_fuel').reset_index()

   Cylinders     avg_fuel  qtd_fuel
0        3.0   962.437811       201
1        4.0  1487.879798     13494
2        5.0  1813.278008       723
3        6.0  1943.196240     12765
4        2.0  2004.166667        48
5        8.0  2414.734934      7998
6       10.0  2926.797386       153
7       12.0  3143.149466       562
8       16.0  4050.000000         8

In [448]:
avg_mpg = data.groupby(by='Manufacturer').mean()
avg_mpg.head()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Manufacturer,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818

In [449]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg.head()

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818

In [450]:
avg_mpg = data.groupby(by='Manufacturer').mean()

In [451]:
# avg_mpg.reset_index().query('Year > 1990').reset_index(drop=True)

In [452]:
avg_mpg = data.groupby(by='Manufacturer', as_index=False).mean()
avg_mpg

# avg_mpg[['Manufacturer', 'Combined MPG']].head()

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
5,Aston Martin,2006.458647,5.324060,10.015038,24.998702,11.578947,17.578947,13.578947,672.617776,3002.255639
6,Audi,2005.260674,2.874607,5.813483,16.725128,17.565169,25.160674,20.325843,450.755841,1997.696629
7,Aurora Cars Ltd,1988.000000,4.900000,8.000000,21.974000,12.000000,20.000000,15.000000,592.466667,2200.000000
8,Autokraft Limited,1989.500000,4.925000,8.000000,19.994724,14.000000,20.500000,16.500000,539.101103,2250.000000
9,BMW,2006.735242,3.235659,6.425164,16.982500,17.227788,25.169946,20.032797,457.474347,2041.443053
10,BMW Alpina,2006.000000,4.533333,8.000000,21.058417,13.666667,20.333333,15.666667,567.780556,2600.000000
11,Bentley,2008.405172,6.084483,9.586207,25.427330,10.913793,17.534483,13.250000,686.046662,3135.775862
12,Bertone,1987.000000,1.500000,4.000000,14.982273,20.000000,26.000000,22.000000,403.954545,1500.000000
13,Bill Dovell Motor Car Company,1985.000000,2.300000,4.000000,19.388824,17.000000,18.000000,17.000000,522.764706,1950.000000
14,Bitter Gmbh and Co. Kg,1986.666667,3.600000,6.000000,21.058417,14.000000,19.000000,15.666667,567.780556,2433.333333
15,Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,873.062500,4050.000000
16,Buick,1997.832402,3.280447,5.582868,16.117492,17.925512,26.219739,20.880819,434.463852,1656.890130
17,CCC Engineering,1987.500000,5.700000,8.000000,21.974000,13.000000,20.000000,15.000000,592.466667,2200.000000
18,CX Automotive,1990.375000,2.781250,5.125000,20.491935,14.312500,19.812500,16.187500,552.506980,2500.000000
19,Cadillac,2005.755906,4.256693,6.933071,18.415347,15.801181,23.133858,18.375984,496.281110,2003.149606
20,Chevrolet,1998.274225,4.111502,6.333242,18.997583,16.377711,22.268460,18.508098,512.679300,1942.355202
21,Chrysler,2000.079563,3.065367,5.326053,16.574449,17.539782,24.786271,20.120125,446.768491,1759.828393
22,Consulier Industries Inc,1991.000000,2.200000,4.000000,15.695714,18.000000,24.000000,21.000000,423.190476,1600.000000
23,Dabryan Coach Builders Inc,1995.000000,4.966667,8.000000,20.250549,14.000000,20.000000,16.333333,545.998693,2033.333333
24,Dacia,1988.000000,1.400000,4.000000,14.330870,21.000000,28.000000,23.000000,386.391304,1450.000000
25,Daewoo,2000.388060,1.855224,4.029851,14.381540,19.895522,28.985075,23.074627,387.757496,1457.462687
26,Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,310.188060,1173.529412
27,Dodge,1995.776695,3.933983,6.233051,20.507157,15.271186,20.538983,17.195339,554.504825,2125.148305
28,"E. P. Dutton, Inc.",1985.000000,4.100000,8.000000,19.388824,15.000000,21.000000,17.000000,522.764706,1950.000000
29,Eagle,1993.275641,2.135256,4.256410,15.249072,19.538462,26.102564,21.987179,411.148025,1620.833333
30,Environmental Rsch and Devp Corp,1989.000000,2.900000,6.000000,20.600625,15.000000,17.000000,16.000000,555.437500,2550.000000
31,Evans Automobiles,1990.000000,5.700000,8.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1750.000000
32,Excalibur Autos,1987.000000,5.000000,8.000000,23.543571,12.000000,17.000000,14.000000,634.785714,2900.000000
33,Federal Coach,1995.000000,5.228571,8.000000,21.523078,13.500000,18.428571,15.357143,580.308831,2175.000000
34,Ferrari,2004.879808,4.748558,9.884615,26.424478,10.961538,16.153846,12.769231,712.636348,3203.846154
35,Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,304.666560,1386.046512
36,Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,169.000000,2000.000000
37,Ford,1998.415479,3.750000,6.101494,18.989729,16.423286,21.939240,18.447726,515.466113,1947.657841
38,GMC,1997.533021,4.711632,6.875160,21.178804,14.411163,19.091606,16.117597,571.491172,2143.949723
39,General Motors,1989.000000,5.000000,8.000000,18.311667,15.000000,22.000000,18.000000,493.722222,1850.000000
40,Genesis,2017.000000,4.171429,6.857143,17.037485,16.285714,24.428571,19.428571,464.142857,1985.714286
41,Geo,1992.840278,1.451389,3.743056,12.501873,25.819444,30.798611,27.791667,337.077591,1277.083333
42,Goldacre,1991.000000,2.500000,6.000000,18.311667,16.000000,22.000000,18.000000,493.722222,2250.000000
43,Grumman Allied Industries,1988.000000,2.500000,4.000000,19.388824,16.000000,18.000000,17.000000,522.764706,1950.000000
44,Grumman Olson,1984.500000,1.600000,4.000000,13.377880,28.500000,29.500000,28.750000,356.337423,1262.500000
45,Honda,2001.618421,2.162560,4.376794,13.066686,23.833732,30.465311,26.361244,357.532578,1364.832536
46,Hummer,2008.631579,4.100000,5.789474,21.808782,13.684211,17.473684,15.157895,588.012030,2210.526316
47,Hyundai,2006.790030,2.360725,4.664653,14.269686,20.975831,28.616314,23.809668,385.021692,1463.066465
48,Import Foreign Auto Sales Inc,1984.000000,1.000000,4.000000,17.347895,18.000000,20.000000,19.000000,467.736842,1750.000000
49,Import Trade Services,1991.230769,2.469231,5.076923,21.262011,14.692308,17.153846,15.538462,573.269904,2473.076923
50,Infiniti,2008.388406,3.724058,6.289855,17.149036,17.382609,23.962319,19.768116,461.852334,2032.898551
51,Isis Imports Ltd,1992.000000,3.900000,8.000000,16.480500,16.000000,28.000000,20.000000,444.350000,2000.000000
52,Isuzu,1994.457213,2.753790,4.858191,18.228050,17.330073,21.775061,18.973105,491.217383,1838.264059
53,J.K. Motors,1992.416667,3.361111,6.777778,23.338020,12.916667,16.583333,14.305556,629.243597,2393.055556
54,"JBA Motorcars, Inc.",1988.000000,3.000000,6.000000,21.974000,15.000000,16.000000,15.000000,592.466667,2200.000000
55,Jaguar,2006.239067,4.010496,7.434402,18.278121,15.720117,23.099125,18.422741,493.394863,2230.029155
56,Jeep,2000.506634,3.378770,5.355850,18.504940,16.809409,21.404101,18.519903,498.780679,1881.785283
57,Kia,2009.356998,2.351927,4.543611,14.474057,20.959432,27.918864,23.606491,390.638805,1467.748479
58,Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,807.909091,3050.000000
59,Lambda Control Systems,1986.000000,3.000000,6.000000,19.388824,16.000000,20.000000,17.000000,522.764706,1950.000000
60,Lamborghini,2007.346154,5.675962,11.057692,27.969011,10.192308,16.096154,12.326923,754.782498,3444.230769
61,Land Rover,2006.394366,3.896479,7.211268,22.248607,13.570423,18.570423,15.401408,600.735070,2634.507042
62,Lexus,2007.725441,3.615869,6.554156,16.471887,19.015113,24.554156,20.982368,442.954935,1943.450882
63,Lincoln,2006.736264,3.874725,6.593407,18.059533,16.531136,23.300366,19.000000,486.942827,1920.329670
64,London Coach Co Inc,1986.000000,2.300000,4.000000,20.600625,16.000000,17.000000,16.000000,555.437500,2100.000000
65,London Taxi,2003.000000,2.400000,4.000000,17.372045,21.000000,24.000000,22.000000,462.727273,1650.000000
66,Lotus,2003.867925,2.713208,5.245283,16.507078,17.490566,25.433962,20.301887,444.492590,1993.396226
67,MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,313.716862,1429.531250
68,Mahindra,2011.000000,2.200000,4.000000,19.109250,19.000000,21.000000,20.000000,509.000000,1800.000000
69,Maserati,2002.891892,3.586486,7.027027,23.027769,12.702703,18.450450,14.666667,620.700271,2763.063063
70,Maybach,2008.580645,5.677419,12.000000,27.058555,10.193548,15.967742,12.193548,729.557279,3341.935484
71,Mazda,2000.582514,2.394754,4.535519,15.628220,19.620765,25.796721,21.913661,421.322543,1639.344262
72,McLaren Automotive,2015.153846,3.800000,8.000000,16.932750,15.769231,21.923077,18.076923,489.209402,2250.000000
73,Mcevoy Motors,1987.333333,2.300000,4.000000,16.769632,18.000000,22.666667,19.666667,452.145614,1683.333333
74,Mercedes-Benz,2005.670561,4.059579,7.019470,18.609137,16.236760,22.674455,18.588785,501.183149,2253.933022
75,Mercury,1996.507519,3.022368,5.500000,16.206884,18.672932,25.541353,21.140977,436.918872,1643.045113
76,Merkur,1987.428571,2.471429,4.571429,18.228248,16.285714,21.357143,18.142857,491.473067,1835.714286
77,Mitsubishi,1998.796842,2.455895,4.606316,16.010363,19.123158,24.964211,21.308421,431.472106,1715.157895
78,Mobility Ventures LLC,2014.000000,4.600000,8.000000,11.058538,12.500000,17.000000,14.000000,547.500000,2275.000000
79,Morgan,2002.333333,3.966667,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
80,Nissan,2001.569034,3.001038,5.273743,16.914320,18.415802,24.130088,20.558659,456.157392,1784.876297
81,Oldsmobile,1991.340426,3.176862,5.537234,16.351145,17.712766,25.747340,20.558511,440.716423,1673.005319
82,PAS Inc - GMC,1992.000000,4.300000,6.000000,21.974000,14.000000,17.000000,15.000000,592.466667,2700.000000
83,"PAS, Inc",1992.000000,4.300000,6.000000,23.543571,13.000000,16.500000,14.000000,634.785714,2900.000000
84,Pagani,2015.000000,6.000000,12.000000,25.354615,11.000000,17.000000,13.000000,671.000000,3100.000000
85,Panos,1993.000000,4.900000,8.000000,21.974000,13.000000,21.000000,15.000000,592.466667,2200.000000
86,Panoz Auto-Development,1995.000000,5.000000,8.000000,14.982273,18.000000,30.000000,22.000000,403.954545,1500.000000
87,Panther Car Company Limited,1987.000000,2.300000,4.000000,16.284304,18.750000,23.000000,20.250000,439.060119,1637.500000
88,Peugeot,1988.351351,2.166216,4.162162,17.424751,17.608108,22.067568,19.324324,469.227285,1873.648649
89,Pininfarina,1985.000000,2.000000,4.000000,16.165084,19.000000,23.500000,20.500000,435.845694,1625.000000
90,Plymouth,1990.267544,2.382237,4.416667,15.460492,19.605263,25.712719,21.888158,416.848378,1624.561404
91,Pontiac,1994.997449,2.967730,5.247449,15.372605,19.230867,27.354592,22.161990,414.427198,1615.561224
92,Porsche,2007.577726,3.600232,6.122970,17.199845,16.825986,24.230858,19.508121,463.810557,2112.529002
93,Quantum Technologies,1998.500000,2.200000,4.000000,15.695714,19.000000,25.000000,21.000000,423.190476,1600.000000
94,Qvale,2000.000000,4.600000,8.000000,15.695714,17.000000,28.000000,21.000000,423.190476,1600.000000
95,Ram,2014.736842,4.191228,6.631579,17.792707,16.614035,23.736842,19.245614,480.164035,1859.649123
96,Red Shift Ltd.,1987.500000,2.000000,4.000000,14.330870,19.000000,31.000000,23.000000,386.391304,1750.000000
97,Renault,1985.969697,1.727273,4.000000,13.345607,23.030303,29.242424,25.393939,359.826496,1359.090909
98,Rolls-Royce,2000.687500,6.698125,9.725000,28.405710,10.056250,15.281250,12.012500,765.076650,3352.500000
99,Roush Performance,2008.962264,5.090566,8.000000,23.140361,12.754717,17.962264,14.660377,621.915131,2853.773585
100,Ruf Automobile Gmbh,1987.500000,3.400000,6.000000,25.354615,11.000000,18.000000,13.000000,683.615385,3100.000000
101,S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,888.700000,3350.000000
102,SRT,2013.500000,8.400000,10.000000,21.974000,12.000000,19.000000,15.000000,607.000000,2700.000000
103,Saab,2000.541463,2.311220,4.404878,16.448540,17.446341,25.202439,20.212195,443.488287,1774.634146
104,Saleen,1992.200000,5.260000,8.000000,22.140012,12.600000,20.400000,15.000000,596.942720,2250.000000
105,Saleen Performance,2008.250000,5.200000,8.000000,24.449093,11.250000,16.500000,13.500000,659.200549,3000.000000
106,Saturn,2001.834532,2.329496,4.431655,13.957160,20.870504,29.471223,24.061151,376.315274,1439.028777
107,Scion,2010.783133,2.042169,4.000000,12.316868,24.746988,31.349398,27.216867,331.395918,1275.301205
108,Shelby,2008.000000,4.600000,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
109,Spyker,2007.000000,4.200000,8.000000,21.576281,13.153846,18.461538,15.307692,581.743288,2230.769231
110,Sterling,1988.833333,2.633333,6.000000,18.160487,16.250000,21.166667,18.166667,489.646084,1833.333333
111,Subaru,1999.599232,2.223816,4.130602,14.999905,20.029449,26.056338,22.293214,404.316062,1596.670935
112,Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,888.700000,3350.000000
113,Suzuki,2001.382812,1.966211,4.308594,14.568941,21.453125,26.583984,23.390625,392.747538,1478.222656
114,TVR Engineering Ltd,1985.500000,2.800000,6.000000,18.311667,15.000000,22.000000,18.000000,493.722222,2250.000000
115,"Tecstar, LP",2008.000000,5.400000,8.000000,25.354615,11.000000,15.000000,13.000000,683.615385,3100.000000
116,Texas Coach Company,1986.000000,5.000000,8.000000,27.467500,11.000000,14.000000,12.000000,740.583333,2800.000000
117,Toyota,2000.408497,2.757244,4.967320,16.153677,19.850218,24.953159,21.800109,435.795803,1657.788671
118,VPG,2011.800000,4.600000,8.000000,13.241631,12.200000,17.200000,14.200000,571.325897,2260.000000
119,Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1049.159722,4775.000000
120,Vixen Motor Company,1986.000000,2.400000,6.000000,23.886563,15.000000,16.000000,16.000000,636.250000,2250.000000
121,Volga Associated Automobile,1986.000000,1.600000,4.000000,17.347895,18.000000,22.000000,19.000000,467.736842,1750.000000
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [453]:
# mais de uma chave

data.groupby(by=['Manufacturer','Cylinders']).mean()

                                        Year  Engine Displacement  \
Manufacturer          Cylinders
AM General            4.0        1984.500000             2.500000
                      6.0        1984.500000             4.200000
ASC Incorporated      6.0        1987.000000             3.800000
Acura                 4.0        2003.018018             2.060360
                      5.0        1994.400000             2.500000
...                                      ...                  ...
Wallace Environmental 6.0        1991.444444             2.900000
                      8.0        1991.416667             5.600000
                      12.0       1991.714286             5.085714
Yugo                  4.0        1988.375000             1.200000
smart                 3.0        2012.500000             0.980000

                                 Fuel Barrels/Year   City MPG  Highway MPG  \
Manufacturer          Cylinders
AM General            4.0                19.994724  17.000000    17.000000
                      6.0                25.354615  13.000000    13.000000
ASC Incorporated      6.0                20.600625  14.000000    21.000000
Acura                 4.0                13.730928  21.603604    28.747748
                      5.0                16.480500  17.900000    23.500000
...                                            ...        ...          ...
Wallace Environmental 6.0                22.584389  14.555556    15.666667
                      8.0                25.354615  11.000000    15.000000
                      12.0               29.146832   9.571429    14.714286
Yugo                  4.0                13.206218  23.000000    28.250000
smart                 3.0                 9.208922  33.300000    39.300000

                                 Combined MPG  CO2 Emission Grams/Mile  \
Manufacturer          Cylinders
AM General            4.0           16.500000               539.101103
                      6.0           13.000000               683.615385
ASC Incorporated      6.0           16.000000               555.437500
Acura                 4.0           24.270270               370.291343
                      5.0           20.000000               444.350000
...                                       ...                      ...
Wallace Environmental 6.0           14.666667               608.924074
                      8.0           13.000000               683.615385
                      12.0          11.428571               785.861755
Yugo                  4.0           25.000000               356.068256
smart                 3.0           35.800000               247.030556

                                 Fuel Cost/Year
Manufacturer          Cylinders
AM General            4.0           2025.000000
                      6.0           2550.000000
ASC Incorporated      6.0           2550.000000
Acura                 4.0           1563.063063
                      5.0           2000.000000
...                                         ...
Wallace Environmental 6.0           2777.777778
                      8.0           3100.000000
                      12.0          3585.714286
Yugo                  4.0           1350.000000
smart                 3.0           1110.000000

[257 rows x 8 columns]

In [454]:
data.groupby(by=['Manufacturer','Cylinders'], as_index=False).mean()

,Manufacturer,Cylinders,Year,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,4.0,1984.500000,2.500000,19.994724,17.000000,17.000000,16.500000,539.101103,2025.000000
1,AM General,6.0,1984.500000,4.200000,25.354615,13.000000,13.000000,13.000000,683.615385,2550.000000
2,ASC Incorporated,6.0,1987.000000,3.800000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
3,Acura,4.0,2003.018018,2.060360,13.730928,21.603604,28.747748,24.270270,370.291343,1563.063063
4,Acura,5.0,1994.400000,2.500000,16.480500,17.900000,23.500000,20.000000,444.350000,2000.000000
...,...,...,...,...,...,...,...,...,...,...
252,Wallace Environmental,6.0,1991.444444,2.900000,22.584389,14.555556,15.666667,14.666667,608.924074,2777.777778
253,Wallace Environmental,8.0,1991.416667,5.600000,25.354615,11.000000,15.000000,13.000000,683.615385,3100.000000
254,Wallace Environmental,12.0,1991.714286,5.085714,29.146832,9.571429,14.714286,11.428571,785.861755,3585.714286
255,Yugo,4.0,1988.375000,1.200000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
256,smart,3.0,2012.500000,0.980000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [455]:
avg_mpg_two_keys = data.groupby(by=['Manufacturer','Cylinders']).mean().reset_index()

## Rename it using .rename if you want

In [456]:
avg_mpg

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
5,Aston Martin,2006.458647,5.324060,10.015038,24.998702,11.578947,17.578947,13.578947,672.617776,3002.255639
6,Audi,2005.260674,2.874607,5.813483,16.725128,17.565169,25.160674,20.325843,450.755841,1997.696629
7,Aurora Cars Ltd,1988.000000,4.900000,8.000000,21.974000,12.000000,20.000000,15.000000,592.466667,2200.000000
8,Autokraft Limited,1989.500000,4.925000,8.000000,19.994724,14.000000,20.500000,16.500000,539.101103,2250.000000
9,BMW,2006.735242,3.235659,6.425164,16.982500,17.227788,25.169946,20.032797,457.474347,2041.443053
10,BMW Alpina,2006.000000,4.533333,8.000000,21.058417,13.666667,20.333333,15.666667,567.780556,2600.000000
11,Bentley,2008.405172,6.084483,9.586207,25.427330,10.913793,17.534483,13.250000,686.046662,3135.775862
12,Bertone,1987.000000,1.500000,4.000000,14.982273,20.000000,26.000000,22.000000,403.954545,1500.000000
13,Bill Dovell Motor Car Company,1985.000000,2.300000,4.000000,19.388824,17.000000,18.000000,17.000000,522.764706,1950.000000
14,Bitter Gmbh and Co. Kg,1986.666667,3.600000,6.000000,21.058417,14.000000,19.000000,15.666667,567.780556,2433.333333
15,Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,873.062500,4050.000000
16,Buick,1997.832402,3.280447,5.582868,16.117492,17.925512,26.219739,20.880819,434.463852,1656.890130
17,CCC Engineering,1987.500000,5.700000,8.000000,21.974000,13.000000,20.000000,15.000000,592.466667,2200.000000
18,CX Automotive,1990.375000,2.781250,5.125000,20.491935,14.312500,19.812500,16.187500,552.506980,2500.000000
19,Cadillac,2005.755906,4.256693,6.933071,18.415347,15.801181,23.133858,18.375984,496.281110,2003.149606
20,Chevrolet,1998.274225,4.111502,6.333242,18.997583,16.377711,22.268460,18.508098,512.679300,1942.355202
21,Chrysler,2000.079563,3.065367,5.326053,16.574449,17.539782,24.786271,20.120125,446.768491,1759.828393
22,Consulier Industries Inc,1991.000000,2.200000,4.000000,15.695714,18.000000,24.000000,21.000000,423.190476,1600.000000
23,Dabryan Coach Builders Inc,1995.000000,4.966667,8.000000,20.250549,14.000000,20.000000,16.333333,545.998693,2033.333333
24,Dacia,1988.000000,1.400000,4.000000,14.330870,21.000000,28.000000,23.000000,386.391304,1450.000000
25,Daewoo,2000.388060,1.855224,4.029851,14.381540,19.895522,28.985075,23.074627,387.757496,1457.462687
26,Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,310.188060,1173.529412
27,Dodge,1995.776695,3.933983,6.233051,20.507157,15.271186,20.538983,17.195339,554.504825,2125.148305
28,"E. P. Dutton, Inc.",1985.000000,4.100000,8.000000,19.388824,15.000000,21.000000,17.000000,522.764706,1950.000000
29,Eagle,1993.275641,2.135256,4.256410,15.249072,19.538462,26.102564,21.987179,411.148025,1620.833333
30,Environmental Rsch and Devp Corp,1989.000000,2.900000,6.000000,20.600625,15.000000,17.000000,16.000000,555.437500,2550.000000
31,Evans Automobiles,1990.000000,5.700000,8.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1750.000000
32,Excalibur Autos,1987.000000,5.000000,8.000000,23.543571,12.000000,17.000000,14.000000,634.785714,2900.000000
33,Federal Coach,1995.000000,5.228571,8.000000,21.523078,13.500000,18.428571,15.357143,580.308831,2175.000000
34,Ferrari,2004.879808,4.748558,9.884615,26.424478,10.961538,16.153846,12.769231,712.636348,3203.846154
35,Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,304.666560,1386.046512
36,Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,169.000000,2000.000000
37,Ford,1998.415479,3.750000,6.101494,18.989729,16.423286,21.939240,18.447726,515.466113,1947.657841
38,GMC,1997.533021,4.711632,6.875160,21.178804,14.411163,19.091606,16.117597,571.491172,2143.949723
39,General Motors,1989.000000,5.000000,8.000000,18.311667,15.000000,22.000000,18.000000,493.722222,1850.000000
40,Genesis,2017.000000,4.171429,6.857143,17.037485,16.285714,24.428571,19.428571,464.142857,1985.714286
41,Geo,1992.840278,1.451389,3.743056,12.501873,25.819444,30.798611,27.791667,337.077591,1277.083333
42,Goldacre,1991.000000,2.500000,6.000000,18.311667,16.000000,22.000000,18.000000,493.722222,2250.000000
43,Grumman Allied Industries,1988.000000,2.500000,4.000000,19.388824,16.000000,18.000000,17.000000,522.764706,1950.000000
44,Grumman Olson,1984.500000,1.600000,4.000000,13.377880,28.500000,29.500000,28.750000,356.337423,1262.500000
45,Honda,2001.618421,2.162560,4.376794,13.066686,23.833732,30.465311,26.361244,357.532578,1364.832536
46,Hummer,2008.631579,4.100000,5.789474,21.808782,13.684211,17.473684,15.157895,588.012030,2210.526316
47,Hyundai,2006.790030,2.360725,4.664653,14.269686,20.975831,28.616314,23.809668,385.021692,1463.066465
48,Import Foreign Auto Sales Inc,1984.000000,1.000000,4.000000,17.347895,18.000000,20.000000,19.000000,467.736842,1750.000000
49,Import Trade Services,1991.230769,2.469231,5.076923,21.262011,14.692308,17.153846,15.538462,573.269904,2473.076923
50,Infiniti,2008.388406,3.724058,6.289855,17.149036,17.382609,23.962319,19.768116,461.852334,2032.898551
51,Isis Imports Ltd,1992.000000,3.900000,8.000000,16.480500,16.000000,28.000000,20.000000,444.350000,2000.000000
52,Isuzu,1994.457213,2.753790,4.858191,18.228050,17.330073,21.775061,18.973105,491.217383,1838.264059
53,J.K. Motors,1992.416667,3.361111,6.777778,23.338020,12.916667,16.583333,14.305556,629.243597,2393.055556
54,"JBA Motorcars, Inc.",1988.000000,3.000000,6.000000,21.974000,15.000000,16.000000,15.000000,592.466667,2200.000000
55,Jaguar,2006.239067,4.010496,7.434402,18.278121,15.720117,23.099125,18.422741,493.394863,2230.029155
56,Jeep,2000.506634,3.378770,5.355850,18.504940,16.809409,21.404101,18.519903,498.780679,1881.785283
57,Kia,2009.356998,2.351927,4.543611,14.474057,20.959432,27.918864,23.606491,390.638805,1467.748479
58,Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,807.909091,3050.000000
59,Lambda Control Systems,1986.000000,3.000000,6.000000,19.388824,16.000000,20.000000,17.000000,522.764706,1950.000000
60,Lamborghini,2007.346154,5.675962,11.057692,27.969011,10.192308,16.096154,12.326923,754.782498,3444.230769
61,Land Rover,2006.394366,3.896479,7.211268,22.248607,13.570423,18.570423,15.401408,600.735070,2634.507042
62,Lexus,2007.725441,3.615869,6.554156,16.471887,19.015113,24.554156,20.982368,442.954935,1943.450882
63,Lincoln,2006.736264,3.874725,6.593407,18.059533,16.531136,23.300366,19.000000,486.942827,1920.329670
64,London Coach Co Inc,1986.000000,2.300000,4.000000,20.600625,16.000000,17.000000,16.000000,555.437500,2100.000000
65,London Taxi,2003.000000,2.400000,4.000000,17.372045,21.000000,24.000000,22.000000,462.727273,1650.000000
66,Lotus,2003.867925,2.713208,5.245283,16.507078,17.490566,25.433962,20.301887,444.492590,1993.396226
67,MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,313.716862,1429.531250
68,Mahindra,2011.000000,2.200000,4.000000,19.109250,19.000000,21.000000,20.000000,509.000000,1800.000000
69,Maserati,2002.891892,3.586486,7.027027,23.027769,12.702703,18.450450,14.666667,620.700271,2763.063063
70,Maybach,2008.580645,5.677419,12.000000,27.058555,10.193548,15.967742,12.193548,729.557279,3341.935484
71,Mazda,2000.582514,2.394754,4.535519,15.628220,19.620765,25.796721,21.913661,421.322543,1639.344262
72,McLaren Automotive,2015.153846,3.800000,8.000000,16.932750,15.769231,21.923077,18.076923,489.209402,2250.000000
73,Mcevoy Motors,1987.333333,2.300000,4.000000,16.769632,18.000000,22.666667,19.666667,452.145614,1683.333333
74,Mercedes-Benz,2005.670561,4.059579,7.019470,18.609137,16.236760,22.674455,18.588785,501.183149,2253.933022
75,Mercury,1996.507519,3.022368,5.500000,16.206884,18.672932,25.541353,21.140977,436.918872,1643.045113
76,Merkur,1987.428571,2.471429,4.571429,18.228248,16.285714,21.357143,18.142857,491.473067,1835.714286
77,Mitsubishi,1998.796842,2.455895,4.606316,16.010363,19.123158,24.964211,21.308421,431.472106,1715.157895
78,Mobility Ventures LLC,2014.000000,4.600000,8.000000,11.058538,12.500000,17.000000,14.000000,547.500000,2275.000000
79,Morgan,2002.333333,3.966667,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
80,Nissan,2001.569034,3.001038,5.273743,16.914320,18.415802,24.130088,20.558659,456.157392,1784.876297
81,Oldsmobile,1991.340426,3.176862,5.537234,16.351145,17.712766,25.747340,20.558511,440.716423,1673.005319
82,PAS Inc - GMC,1992.000000,4.300000,6.000000,21.974000,14.000000,17.000000,15.000000,592.466667,2700.000000
83,"PAS, Inc",1992.000000,4.300000,6.000000,23.543571,13.000000,16.500000,14.000000,634.785714,2900.000000
84,Pagani,2015.000000,6.000000,12.000000,25.354615,11.000000,17.000000,13.000000,671.000000,3100.000000
85,Panos,1993.000000,4.900000,8.000000,21.974000,13.000000,21.000000,15.000000,592.466667,2200.000000
86,Panoz Auto-Development,1995.000000,5.000000,8.000000,14.982273,18.000000,30.000000,22.000000,403.954545,1500.000000
87,Panther Car Company Limited,1987.000000,2.300000,4.000000,16.284304,18.750000,23.000000,20.250000,439.060119,1637.500000
88,Peugeot,1988.351351,2.166216,4.162162,17.424751,17.608108,22.067568,19.324324,469.227285,1873.648649
89,Pininfarina,1985.000000,2.000000,4.000000,16.165084,19.000000,23.500000,20.500000,435.845694,1625.000000
90,Plymouth,1990.267544,2.382237,4.416667,15.460492,19.605263,25.712719,21.888158,416.848378,1624.561404
91,Pontiac,1994.997449,2.967730,5.247449,15.372605,19.230867,27.354592,22.161990,414.427198,1615.561224
92,Porsche,2007.577726,3.600232,6.122970,17.199845,16.825986,24.230858,19.508121,463.810557,2112.529002
93,Quantum Technologies,1998.500000,2.200000,4.000000,15.695714,19.000000,25.000000,21.000000,423.190476,1600.000000
94,Qvale,2000.000000,4.600000,8.000000,15.695714,17.000000,28.000000,21.000000,423.190476,1600.000000
95,Ram,2014.736842,4.191228,6.631579,17.792707,16.614035,23.736842,19.245614,480.164035,1859.649123
96,Red Shift Ltd.,1987.500000,2.000000,4.000000,14.330870,19.000000,31.000000,23.000000,386.391304,1750.000000
97,Renault,1985.969697,1.727273,4.000000,13.345607,23.030303,29.242424,25.393939,359.826496,1359.090909
98,Rolls-Royce,2000.687500,6.698125,9.725000,28.405710,10.056250,15.281250,12.012500,765.076650,3352.500000
99,Roush Performance,2008.962264,5.090566,8.000000,23.140361,12.754717,17.962264,14.660377,621.915131,2853.773585
100,Ruf Automobile Gmbh,1987.500000,3.400000,6.000000,25.354615,11.000000,18.000000,13.000000,683.615385,3100.000000
101,S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,888.700000,3350.000000
102,SRT,2013.500000,8.400000,10.000000,21.974000,12.000000,19.000000,15.000000,607.000000,2700.000000
103,Saab,2000.541463,2.311220,4.404878,16.448540,17.446341,25.202439,20.212195,443.488287,1774.634146
104,Saleen,1992.200000,5.260000,8.000000,22.140012,12.600000,20.400000,15.000000,596.942720,2250.000000
105,Saleen Performance,2008.250000,5.200000,8.000000,24.449093,11.250000,16.500000,13.500000,659.200549,3000.000000
106,Saturn,2001.834532,2.329496,4.431655,13.957160,20.870504,29.471223,24.061151,376.315274,1439.028777
107,Scion,2010.783133,2.042169,4.000000,12.316868,24.746988,31.349398,27.216867,331.395918,1275.301205
108,Shelby,2008.000000,4.600000,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
109,Spyker,2007.000000,4.200000,8.000000,21.576281,13.153846,18.461538,15.307692,581.743288,2230.769231
110,Sterling,1988.833333,2.633333,6.000000,18.160487,16.250000,21.166667,18.166667,489.646084,1833.333333
111,Subaru,1999.599232,2.223816,4.130602,14.999905,20.029449,26.056338,22.293214,404.316062,1596.670935
112,Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,888.700000,3350.000000
113,Suzuki,2001.382812,1.966211,4.308594,14.568941,21.453125,26.583984,23.390625,392.747538,1478.222656
114,TVR Engineering Ltd,1985.500000,2.800000,6.000000,18.311667,15.000000,22.000000,18.000000,493.722222,2250.000000
115,"Tecstar, LP",2008.000000,5.400000,8.000000,25.354615,11.000000,15.000000,13.000000,683.615385,3100.000000
116,Texas Coach Company,1986.000000,5.000000,8.000000,27.467500,11.000000,14.000000,12.000000,740.583333,2800.000000
117,Toyota,2000.408497,2.757244,4.967320,16.153677,19.850218,24.953159,21.800109,435.795803,1657.788671
118,VPG,2011.800000,4.600000,8.000000,13.241631,12.200000,17.200000,14.200000,571.325897,2260.000000
119,Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1049.159722,4775.000000
120,Vixen Motor Company,1986.000000,2.400000,6.000000,23.886563,15.000000,16.000000,16.000000,636.250000,2250.000000
121,Volga Associated Automobile,1986.000000,1.600000,4.000000,17.347895,18.000000,22.000000,19.000000,467.736842,1750.000000
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [458]:
avg_mpg.rename(columns={'Fuel Cost/Year': 'avg_fuel_cost_year'})

In [459]:
avg_mpg = avg_mpg.rename(columns={'Fuel Cost/Year': 'avg_fuel_cost_year'})

,Manufacturer,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,avg_fuel_cost_year
0,AM General,1984.500000,3.350000,5.000000,22.674670,15.000000,15.000000,14.750000,611.358244,2287.500000
1,ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,14.000000,21.000000,16.000000,555.437500,2550.000000
2,Acura,2003.493377,2.834768,5.231788,15.673371,18.890728,25.940397,21.506623,422.585325,1852.483444
3,Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,17.097561,23.902439,19.512195,463.952115,1962.195122
4,American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,16.045455,20.181818,17.681818,505.758823,1893.181818
5,Aston Martin,2006.458647,5.324060,10.015038,24.998702,11.578947,17.578947,13.578947,672.617776,3002.255639
6,Audi,2005.260674,2.874607,5.813483,16.725128,17.565169,25.160674,20.325843,450.755841,1997.696629
7,Aurora Cars Ltd,1988.000000,4.900000,8.000000,21.974000,12.000000,20.000000,15.000000,592.466667,2200.000000
8,Autokraft Limited,1989.500000,4.925000,8.000000,19.994724,14.000000,20.500000,16.500000,539.101103,2250.000000
9,BMW,2006.735242,3.235659,6.425164,16.982500,17.227788,25.169946,20.032797,457.474347,2041.443053
10,BMW Alpina,2006.000000,4.533333,8.000000,21.058417,13.666667,20.333333,15.666667,567.780556,2600.000000
11,Bentley,2008.405172,6.084483,9.586207,25.427330,10.913793,17.534483,13.250000,686.046662,3135.775862
12,Bertone,1987.000000,1.500000,4.000000,14.982273,20.000000,26.000000,22.000000,403.954545,1500.000000
13,Bill Dovell Motor Car Company,1985.000000,2.300000,4.000000,19.388824,17.000000,18.000000,17.000000,522.764706,1950.000000
14,Bitter Gmbh and Co. Kg,1986.666667,3.600000,6.000000,21.058417,14.000000,19.000000,15.666667,567.780556,2433.333333
15,Bugatti,2011.125000,8.000000,16.000000,32.961000,8.000000,14.625000,10.000000,873.062500,4050.000000
16,Buick,1997.832402,3.280447,5.582868,16.117492,17.925512,26.219739,20.880819,434.463852,1656.890130
17,CCC Engineering,1987.500000,5.700000,8.000000,21.974000,13.000000,20.000000,15.000000,592.466667,2200.000000
18,CX Automotive,1990.375000,2.781250,5.125000,20.491935,14.312500,19.812500,16.187500,552.506980,2500.000000
19,Cadillac,2005.755906,4.256693,6.933071,18.415347,15.801181,23.133858,18.375984,496.281110,2003.149606
20,Chevrolet,1998.274225,4.111502,6.333242,18.997583,16.377711,22.268460,18.508098,512.679300,1942.355202
21,Chrysler,2000.079563,3.065367,5.326053,16.574449,17.539782,24.786271,20.120125,446.768491,1759.828393
22,Consulier Industries Inc,1991.000000,2.200000,4.000000,15.695714,18.000000,24.000000,21.000000,423.190476,1600.000000
23,Dabryan Coach Builders Inc,1995.000000,4.966667,8.000000,20.250549,14.000000,20.000000,16.333333,545.998693,2033.333333
24,Dacia,1988.000000,1.400000,4.000000,14.330870,21.000000,28.000000,23.000000,386.391304,1450.000000
25,Daewoo,2000.388060,1.855224,4.029851,14.381540,19.895522,28.985075,23.074627,387.757496,1457.462687
26,Daihatsu,1990.352941,1.264706,3.705882,11.504567,28.058824,32.470588,29.647059,310.188060,1173.529412
27,Dodge,1995.776695,3.933983,6.233051,20.507157,15.271186,20.538983,17.195339,554.504825,2125.148305
28,"E. P. Dutton, Inc.",1985.000000,4.100000,8.000000,19.388824,15.000000,21.000000,17.000000,522.764706,1950.000000
29,Eagle,1993.275641,2.135256,4.256410,15.249072,19.538462,26.102564,21.987179,411.148025,1620.833333
30,Environmental Rsch and Devp Corp,1989.000000,2.900000,6.000000,20.600625,15.000000,17.000000,16.000000,555.437500,2550.000000
31,Evans Automobiles,1990.000000,5.700000,8.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1750.000000
32,Excalibur Autos,1987.000000,5.000000,8.000000,23.543571,12.000000,17.000000,14.000000,634.785714,2900.000000
33,Federal Coach,1995.000000,5.228571,8.000000,21.523078,13.500000,18.428571,15.357143,580.308831,2175.000000
34,Ferrari,2004.879808,4.748558,9.884615,26.424478,10.961538,16.153846,12.769231,712.636348,3203.846154
35,Fiat,2015.069767,1.446512,4.000000,11.383588,26.372093,33.860465,29.186047,304.666560,1386.046512
36,Fisker,2012.000000,2.000000,4.000000,6.359255,20.000000,21.000000,20.000000,169.000000,2000.000000
37,Ford,1998.415479,3.750000,6.101494,18.989729,16.423286,21.939240,18.447726,515.466113,1947.657841
38,GMC,1997.533021,4.711632,6.875160,21.178804,14.411163,19.091606,16.117597,571.491172,2143.949723
39,General Motors,1989.000000,5.000000,8.000000,18.311667,15.000000,22.000000,18.000000,493.722222,1850.000000
40,Genesis,2017.000000,4.171429,6.857143,17.037485,16.285714,24.428571,19.428571,464.142857,1985.714286
41,Geo,1992.840278,1.451389,3.743056,12.501873,25.819444,30.798611,27.791667,337.077591,1277.083333
42,Goldacre,1991.000000,2.500000,6.000000,18.311667,16.000000,22.000000,18.000000,493.722222,2250.000000
43,Grumman Allied Industries,1988.000000,2.500000,4.000000,19.388824,16.000000,18.000000,17.000000,522.764706,1950.000000
44,Grumman Olson,1984.500000,1.600000,4.000000,13.377880,28.500000,29.500000,28.750000,356.337423,1262.500000
45,Honda,2001.618421,2.162560,4.376794,13.066686,23.833732,30.465311,26.361244,357.532578,1364.832536
46,Hummer,2008.631579,4.100000,5.789474,21.808782,13.684211,17.473684,15.157895,588.012030,2210.526316
47,Hyundai,2006.790030,2.360725,4.664653,14.269686,20.975831,28.616314,23.809668,385.021692,1463.066465
48,Import Foreign Auto Sales Inc,1984.000000,1.000000,4.000000,17.347895,18.000000,20.000000,19.000000,467.736842,1750.000000
49,Import Trade Services,1991.230769,2.469231,5.076923,21.262011,14.692308,17.153846,15.538462,573.269904,2473.076923
50,Infiniti,2008.388406,3.724058,6.289855,17.149036,17.382609,23.962319,19.768116,461.852334,2032.898551
51,Isis Imports Ltd,1992.000000,3.900000,8.000000,16.480500,16.000000,28.000000,20.000000,444.350000,2000.000000
52,Isuzu,1994.457213,2.753790,4.858191,18.228050,17.330073,21.775061,18.973105,491.217383,1838.264059
53,J.K. Motors,1992.416667,3.361111,6.777778,23.338020,12.916667,16.583333,14.305556,629.243597,2393.055556
54,"JBA Motorcars, Inc.",1988.000000,3.000000,6.000000,21.974000,15.000000,16.000000,15.000000,592.466667,2200.000000
55,Jaguar,2006.239067,4.010496,7.434402,18.278121,15.720117,23.099125,18.422741,493.394863,2230.029155
56,Jeep,2000.506634,3.378770,5.355850,18.504940,16.809409,21.404101,18.519903,498.780679,1881.785283
57,Kia,2009.356998,2.351927,4.543611,14.474057,20.959432,27.918864,23.606491,390.638805,1467.748479
58,Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,10.000000,13.000000,11.000000,807.909091,3050.000000
59,Lambda Control Systems,1986.000000,3.000000,6.000000,19.388824,16.000000,20.000000,17.000000,522.764706,1950.000000
60,Lamborghini,2007.346154,5.675962,11.057692,27.969011,10.192308,16.096154,12.326923,754.782498,3444.230769
61,Land Rover,2006.394366,3.896479,7.211268,22.248607,13.570423,18.570423,15.401408,600.735070,2634.507042
62,Lexus,2007.725441,3.615869,6.554156,16.471887,19.015113,24.554156,20.982368,442.954935,1943.450882
63,Lincoln,2006.736264,3.874725,6.593407,18.059533,16.531136,23.300366,19.000000,486.942827,1920.329670
64,London Coach Co Inc,1986.000000,2.300000,4.000000,20.600625,16.000000,17.000000,16.000000,555.437500,2100.000000
65,London Taxi,2003.000000,2.400000,4.000000,17.372045,21.000000,24.000000,22.000000,462.727273,1650.000000
66,Lotus,2003.867925,2.713208,5.245283,16.507078,17.490566,25.433962,20.301887,444.492590,1993.396226
67,MINI,2012.496875,1.631875,3.981250,11.640990,25.406250,33.315625,28.468750,313.716862,1429.531250
68,Mahindra,2011.000000,2.200000,4.000000,19.109250,19.000000,21.000000,20.000000,509.000000,1800.000000
69,Maserati,2002.891892,3.586486,7.027027,23.027769,12.702703,18.450450,14.666667,620.700271,2763.063063
70,Maybach,2008.580645,5.677419,12.000000,27.058555,10.193548,15.967742,12.193548,729.557279,3341.935484
71,Mazda,2000.582514,2.394754,4.535519,15.628220,19.620765,25.796721,21.913661,421.322543,1639.344262
72,McLaren Automotive,2015.153846,3.800000,8.000000,16.932750,15.769231,21.923077,18.076923,489.209402,2250.000000
73,Mcevoy Motors,1987.333333,2.300000,4.000000,16.769632,18.000000,22.666667,19.666667,452.145614,1683.333333
74,Mercedes-Benz,2005.670561,4.059579,7.019470,18.609137,16.236760,22.674455,18.588785,501.183149,2253.933022
75,Mercury,1996.507519,3.022368,5.500000,16.206884,18.672932,25.541353,21.140977,436.918872,1643.045113
76,Merkur,1987.428571,2.471429,4.571429,18.228248,16.285714,21.357143,18.142857,491.473067,1835.714286
77,Mitsubishi,1998.796842,2.455895,4.606316,16.010363,19.123158,24.964211,21.308421,431.472106,1715.157895
78,Mobility Ventures LLC,2014.000000,4.600000,8.000000,11.058538,12.500000,17.000000,14.000000,547.500000,2275.000000
79,Morgan,2002.333333,3.966667,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
80,Nissan,2001.569034,3.001038,5.273743,16.914320,18.415802,24.130088,20.558659,456.157392,1784.876297
81,Oldsmobile,1991.340426,3.176862,5.537234,16.351145,17.712766,25.747340,20.558511,440.716423,1673.005319
82,PAS Inc - GMC,1992.000000,4.300000,6.000000,21.974000,14.000000,17.000000,15.000000,592.466667,2700.000000
83,"PAS, Inc",1992.000000,4.300000,6.000000,23.543571,13.000000,16.500000,14.000000,634.785714,2900.000000
84,Pagani,2015.000000,6.000000,12.000000,25.354615,11.000000,17.000000,13.000000,671.000000,3100.000000
85,Panos,1993.000000,4.900000,8.000000,21.974000,13.000000,21.000000,15.000000,592.466667,2200.000000
86,Panoz Auto-Development,1995.000000,5.000000,8.000000,14.982273,18.000000,30.000000,22.000000,403.954545,1500.000000
87,Panther Car Company Limited,1987.000000,2.300000,4.000000,16.284304,18.750000,23.000000,20.250000,439.060119,1637.500000
88,Peugeot,1988.351351,2.166216,4.162162,17.424751,17.608108,22.067568,19.324324,469.227285,1873.648649
89,Pininfarina,1985.000000,2.000000,4.000000,16.165084,19.000000,23.500000,20.500000,435.845694,1625.000000
90,Plymouth,1990.267544,2.382237,4.416667,15.460492,19.605263,25.712719,21.888158,416.848378,1624.561404
91,Pontiac,1994.997449,2.967730,5.247449,15.372605,19.230867,27.354592,22.161990,414.427198,1615.561224
92,Porsche,2007.577726,3.600232,6.122970,17.199845,16.825986,24.230858,19.508121,463.810557,2112.529002
93,Quantum Technologies,1998.500000,2.200000,4.000000,15.695714,19.000000,25.000000,21.000000,423.190476,1600.000000
94,Qvale,2000.000000,4.600000,8.000000,15.695714,17.000000,28.000000,21.000000,423.190476,1600.000000
95,Ram,2014.736842,4.191228,6.631579,17.792707,16.614035,23.736842,19.245614,480.164035,1859.649123
96,Red Shift Ltd.,1987.500000,2.000000,4.000000,14.330870,19.000000,31.000000,23.000000,386.391304,1750.000000
97,Renault,1985.969697,1.727273,4.000000,13.345607,23.030303,29.242424,25.393939,359.826496,1359.090909
98,Rolls-Royce,2000.687500,6.698125,9.725000,28.405710,10.056250,15.281250,12.012500,765.076650,3352.500000
99,Roush Performance,2008.962264,5.090566,8.000000,23.140361,12.754717,17.962264,14.660377,621.915131,2853.773585
100,Ruf Automobile Gmbh,1987.500000,3.400000,6.000000,25.354615,11.000000,18.000000,13.000000,683.615385,3100.000000
101,S and S Coach Company E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,9.000000,11.000000,10.000000,888.700000,3350.000000
102,SRT,2013.500000,8.400000,10.000000,21.974000,12.000000,19.000000,15.000000,607.000000,2700.000000
103,Saab,2000.541463,2.311220,4.404878,16.448540,17.446341,25.202439,20.212195,443.488287,1774.634146
104,Saleen,1992.200000,5.260000,8.000000,22.140012,12.600000,20.400000,15.000000,596.942720,2250.000000
105,Saleen Performance,2008.250000,5.200000,8.000000,24.449093,11.250000,16.500000,13.500000,659.200549,3000.000000
106,Saturn,2001.834532,2.329496,4.431655,13.957160,20.870504,29.471223,24.061151,376.315274,1439.028777
107,Scion,2010.783133,2.042169,4.000000,12.316868,24.746988,31.349398,27.216867,331.395918,1275.301205
108,Shelby,2008.000000,4.600000,8.000000,19.388824,15.000000,22.000000,17.000000,522.764706,2400.000000
109,Spyker,2007.000000,4.200000,8.000000,21.576281,13.153846,18.461538,15.307692,581.743288,2230.769231
110,Sterling,1988.833333,2.633333,6.000000,18.160487,16.250000,21.166667,18.166667,489.646084,1833.333333
111,Subaru,1999.599232,2.223816,4.130602,14.999905,20.029449,26.056338,22.293214,404.316062,1596.670935
112,Superior Coaches Div E.p. Dutton,1984.000000,6.000000,8.000000,32.961000,10.000000,11.000000,10.000000,888.700000,3350.000000
113,Suzuki,2001.382812,1.966211,4.308594,14.568941,21.453125,26.583984,23.390625,392.747538,1478.222656
114,TVR Engineering Ltd,1985.500000,2.800000,6.000000,18.311667,15.000000,22.000000,18.000000,493.722222,2250.000000
115,"Tecstar, LP",2008.000000,5.400000,8.000000,25.354615,11.000000,15.000000,13.000000,683.615385,3100.000000
116,Texas Coach Company,1986.000000,5.000000,8.000000,27.467500,11.000000,14.000000,12.000000,740.583333,2800.000000
117,Toyota,2000.408497,2.757244,4.967320,16.153677,19.850218,24.953159,21.800109,435.795803,1657.788671
118,VPG,2011.800000,4.600000,8.000000,13.241631,12.200000,17.200000,14.200000,571.325897,2260.000000
119,Vector,1994.500000,5.850000,10.000000,38.912292,7.250000,11.000000,8.500000,1049.159722,4775.000000
120,Vixen Motor Company,1986.000000,2.400000,6.000000,23.886563,15.000000,16.000000,16.000000,636.250000,2250.000000
121,Volga Associated Automobile,1986.000000,1.600000,4.000000,17.347895,18.000000,22.000000,19.000000,467.736842,1750.000000
122,Volkswagen,2002.928367,2.236008,4.595033,14.594784,21.226361,28.985673,24.093601,392.741721,1579.417383
123,Volvo,2002.182706,2.504742,4.945607,16.186996,17.981869,25.064156,20.605300,435.803755,1812.273361
124,Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,12.437500,16.000000,13.875000,657.990029,2996.875000
125,Yugo,1988.375000,1.200000,4.000000,13.206218,23.000000,28.250000,25.000000,356.068256,1350.000000
126,smart,2012.500000,0.980000,3.000000,9.208922,33.300000,39.300000,35.800000,247.030556,1110.000000

In [461]:
x.agg()

In [460]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(['mean','count'])

                  mean  count
Cylinders
2.0        2004.166667     48
3.0         962.437811    201
4.0        1487.879798  13494
5.0        1813.278008    723
6.0        1943.196240  12765
8.0        2414.734934   7998
10.0       2926.797386    153
12.0       3143.149466    562
16.0       4050.000000      8

In [ ]:
avg_fuel = data.groupby(by='Cylinders')['Fuel Cost/Year'].agg(avg_fuel='mean',qtd_fuel='count').reset_index()
avg_fuel

In [ ]:
data.groupby(by='Cylinders')['Fuel Cost/Year'].describe()

In [464]:
fuel_cost = avg_mpg.loc[:, ['Manufacturer', 'avg_fuel_cost_year']]

In [479]:
#named aggregation
avg_year_cylinders = data.groupby(by=['Year','Cylinders'])['Fuel Cost/Year'].agg(avg_cost = 'mean',
                                                                                 count_cost = 'count').reset_index()
avg_year_cylinders

     Year  Cylinders     avg_cost  count_cost
0    1984        4.0  1609.313725         204
1    1984        6.0  2134.313725         204
2    1984        8.0  2563.291139         237
3    1985        2.0  1950.000000           5
4    1985        3.0   850.000000           6
..    ...        ...          ...         ...
249  2017        4.0  1361.168831         385
250  2017        6.0  1783.457249         269
251  2017        8.0  2152.812500         160
252  2017       10.0  2514.285714           7
253  2017       12.0  2866.666667          30

[254 rows x 4 columns]

# JOINs

How to merge dataframes based on a specific column

In [483]:
data

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [487]:
fuel_cost.rename({'Manufacturer':'Make'}, axis=1, inplace=True)
fuel_cost

                                   Make  avg_fuel_cost_year
0                            AM General         2287.500000
1                      ASC Incorporated         2550.000000
2                                 Acura         1852.483444
3                            Alfa Romeo         1962.195122
4           American Motors Corporation         1893.181818
5                          Aston Martin         3002.255639
6                                  Audi         1997.696629
7                       Aurora Cars Ltd         2200.000000
8                     Autokraft Limited         2250.000000
9                                   BMW         2041.443053
10                           BMW Alpina         2600.000000
11                              Bentley         3135.775862
12                              Bertone         1500.000000
13        Bill Dovell Motor Car Company         1950.000000
14               Bitter Gmbh and Co. Kg         2433.333333
15                              Bugatti         4050.000000
16                                Buick         1656.890130
17                      CCC Engineering         2200.000000
18                        CX Automotive         2500.000000
19                             Cadillac         2003.149606
20                            Chevrolet         1942.355202
21                             Chrysler         1759.828393
22             Consulier Industries Inc         1600.000000
23           Dabryan Coach Builders Inc         2033.333333
24                                Dacia         1450.000000
25                               Daewoo         1457.462687
26                             Daihatsu         1173.529412
27                                Dodge         2125.148305
28                   E. P. Dutton, Inc.         1950.000000
29                                Eagle         1620.833333
30     Environmental Rsch and Devp Corp         2550.000000
31                    Evans Automobiles         1750.000000
32                      Excalibur Autos         2900.000000
33                        Federal Coach         2175.000000
34                              Ferrari         3203.846154
35                                 Fiat         1386.046512
36                               Fisker         2000.000000
37                                 Ford         1947.657841
38                                  GMC         2143.949723
39                       General Motors         1850.000000
40                              Genesis         1985.714286
41                                  Geo         1277.083333
42                             Goldacre         2250.000000
43            Grumman Allied Industries         1950.000000
44                        Grumman Olson         1262.500000
45                                Honda         1364.832536
46                               Hummer         2210.526316
47                              Hyundai         1463.066465
48        Import Foreign Auto Sales Inc         1750.000000
49                Import Trade Services         2473.076923
50                             Infiniti         2032.898551
51                     Isis Imports Ltd         2000.000000
52                                Isuzu         1838.264059
53                          J.K. Motors         2393.055556
54                  JBA Motorcars, Inc.         2200.000000
55                               Jaguar         2230.029155
56                                 Jeep         1881.785283
57                                  Kia         1467.748479
58               Laforza Automobile Inc         3050.000000
59               Lambda Control Systems         1950.000000
60                          Lamborghini         3444.230769
61                           Land Rover         2634.507042
62                                Lexus         1943.450882
63                              Lincoln         1920.329670
64                  London Coach Co Inc         2100.000000
65                          London Taxi         1650.000000
66                                Lotus         1993.396226
67                                 MINI         1429.531250
68                             Mahindra         1800.000000
69                             Maserati         2763.063063
70                              Maybach         3341.935484
71                                Mazda         1639.344262
72                   McLaren Automotive         2250.000000
73                        Mcevoy Motors         1683.333333
74                        Mercedes-Benz         2253.933022
75                              Mercury         1643.045113
76                               Merkur         1835.714286
77                           Mitsubishi         1715.157895
78                Mobility Ventures LLC         2275.000000
79                               Morgan         2400.000000
80                               Nissan         1784.876297
81                           Oldsmobile         1673.005319
82                        PAS Inc - GMC         2700.000000
83                             PAS, Inc         2900.000000
84                               Pagani         3100.000000
85                                Panos         2200.000000
86               Panoz Auto-Development         1500.000000
87          Panther Car Company Limited         1637.500000
88                              Peugeot         1873.648649
89                          Pininfarina         1625.000000
90                             Plymouth         1624.561404
91                              Pontiac         1615.561224
92                              Porsche         2112.529002
93                 Quantum Technologies         1600.000000
94                                Qvale         1600.000000
95                                  Ram         1859.649123
96                       Red Shift Ltd.         1750.000000
97                              Renault         1359.090909
98                          Rolls-Royce         3352.500000
99                    Roush Performance         2853.773585
100                 Ruf Automobile Gmbh         3100.000000
101  S and S Coach Company  E.p. Dutton         3350.000000
102                                 SRT         2700.000000
103                                Saab         1774.634146
104                              Saleen         2250.000000
105                  Saleen Performance         3000.000000
106                              Saturn         1439.028777
107                               Scion         1275.301205
108                              Shelby         2400.000000
109                              Spyker         2230.769231
110                            Sterling         1833.333333
111                              Subaru         1596.670935
112    Superior Coaches Div E.p. Dutton         3350.000000
113                              Suzuki         1478.222656
114                 TVR Engineering Ltd         2250.000000
115                         Tecstar, LP         3100.000000
116                 Texas Coach Company         2800.000000
117                              Toyota         1657.788671
118                                 VPG         2260.000000
119                              Vector         4775.000000
120                 Vixen Motor Company         2250.000000
121         Volga Associated Automobile         1750.000000
122                          Volkswagen         1579.417383
123                               Volvo         1812.273361
124               Wallace Environmental         2996.875000
125                                Yugo         1350.000000
126                               smart         1110.000000

In [490]:
pd.merge(left=data, right=fuel_cost, left_on='Manufacturer', right_on='Make', how='left')

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Make,avg_fuel_cost_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,AM General,2287.5
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,AM General,2287.5
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,AM General,2287.5
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,AM General,2287.5
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,ASC Incorporated,2550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,smart,1110.0
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,smart,1110.0
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,smart,1110.0
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,smart,1110.0
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,smart,1110.0

In [492]:
df

      nome  nota
0  Matheus   9.0
1  Matheus   0.0
2  Matheus   0.0
3    Andre  10.0
4    Lucas   9.0
5    Lucas   7.0
6      Rai   1.0
7    Andre  10.0
8    Andre   9.9

In [503]:
df2 = pd.DataFrame({'name':['Matheus'], 'atributo':['Legal']})

In [504]:
df2

      name atributo
0  Matheus    Legal

In [508]:
pd.merge(left=df, right=df2, left_on='nome', right_on='name', how='left')

      nome  nota     name atributo
0  Matheus   9.0  Matheus    Legal
1  Matheus   0.0  Matheus    Legal
2  Matheus   0.0  Matheus    Legal
3    Andre  10.0      NaN      NaN
4    Lucas   9.0      NaN      NaN
5    Lucas   7.0      NaN      NaN
6      Rai   1.0      NaN      NaN
7    Andre  10.0      NaN      NaN
8    Andre   9.9      NaN      NaN

In [510]:
data

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [509]:
avg_year_cylinders

     Year  Cylinders     avg_cost  count_cost
0    1984        4.0  1609.313725         204
1    1984        6.0  2134.313725         204
2    1984        8.0  2563.291139         237
3    1985        2.0  1950.000000           5
4    1985        3.0   850.000000           6
..    ...        ...          ...         ...
249  2017        4.0  1361.168831         385
250  2017        6.0  1783.457249         269
251  2017        8.0  2152.812500         160
252  2017       10.0  2514.285714           7
253  2017       12.0  2866.666667          30

[254 rows x 4 columns]

In [518]:
merged_df = pd.merge(left=data, right=avg_year_cylinders, on=('Year', 'Cylinders')).sample(100).sort_values(by=['Year','Cylinders'])

In [519]:
merged_df

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,avg_cost,count_cost
143,Mitsubishi,Truck 2WD,1984,2.0,4.0,Manual 4-spd,2-Wheel Drive,Small Pickup Trucks 2WD,Regular,15.695714,20,22,21,423.190476,1600,1609.313725,204
224,Chevrolet,C10 Pickup 2WD,1984,4.1,6.0,Manual 4-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,19.388824,15,19,17,522.764706,1950,2134.313725,204
34967,Chevrolet,C10 Pickup 2WD,1984,6.2,8.0,Manual 4-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Diesel,20.115000,18,20,19,535.789474,1900,2563.291139,237
975,Plymouth,Conquest,1985,2.6,4.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,17,22,19,467.736842,2150,1516.751592,785
426,Buick,Skyhawk,1985,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,32,26,341.807692,1300,1516.751592,785
1220,Buick,Century Wagon,1985,3.0,6.0,Automatic 3-spd,Front-Wheel Drive,Midsize-Large Station Wagons,Regular,19.388824,15,21,17,522.764706,1950,1961.477273,440
27243,GMC,C15 Pickup 2WD,1985,5.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,21.974000,14,18,15,592.466667,2200,2469.135802,324
8775,Isuzu,Pickup 2WD,1986,2.2,4.0,Manual 5-spd,Rear-Wheel Drive,Small Pickup Trucks,Diesel,13.649464,26,30,28,363.571429,1300,1531.692573,579
8627,Dodge,Aries,1986,2.5,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,17.347895,18,22,19,467.736842,1750,1531.692573,579
8567,Chevrolet,Cavalier Wagon,1986,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,13.733750,21,29,24,370.291667,1400,1531.692573,579
14139,BMW,5 Series,1986,2.7,6.0,Manual 5-spd,Rear-Wheel Drive,Compact Cars,Regular,16.480500,18,22,20,444.350000,1650,1980.340557,323
34308,Ford,F150 Pickup 4WD,1986,5.8,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,29.964545,11,12,11,807.909091,3050,2466.406250,256
31602,Mercedes-Benz,190D 2.5,1987,2.5,5.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Diesel,13.649464,26,31,28,363.571429,1300,1778.846154,26
35604,Pontiac,Firefly,1988,1.0,3.0,Automatic 3-spd,Front-Wheel Drive,Subcompact Cars,Regular,9.694412,32,36,34,261.382353,1000,957.692308,13
10006,Nissan,Sentra,1988,1.6,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,23,26,24,370.291667,1400,1556.743738,519
10175,Toyota,Corolla FX,1988,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,27,24,370.291667,1400,1556.743738,519
15022,Mercury,Sable Wagon V6 A/C,1989,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize-Large Station Wagons,Regular,17.347895,17,24,19,467.736842,1750,2035.692771,332
14786,BMW,525i,1989,2.5,6.0,Manual 5-spd,Rear-Wheel Drive,Compact Cars,Regular,18.311667,16,22,18,493.722222,1850,2035.692771,332
10959,Mazda,MX-5 Miata,1990,1.6,4.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,14.330870,21,26,23,386.391304,1450,1576.483051,472
31546,Audi,100 quattro,1990,2.3,5.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Midsize Cars,Regular,18.311667,16,22,18,493.722222,1850,1787.500000,12
15382,Oldsmobile,Cutlass Cruiser,1990,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize-Large Station Wagons,Regular,15.695714,18,26,21,423.190476,1600,2038.073394,327
11243,Chevrolet,Corsica,1991,2.2,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,13.733750,21,28,24,370.291667,1400,1604.700855,468
15619,GMC,G15/25 Rally 2WD,1991,4.3,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,21.974000,14,17,15,592.466667,2200,2060.382514,366
15774,Subaru,XT 4WD,1991,2.7,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Subcompact Cars,Regular,17.347895,16,23,19,467.736842,1750,2060.382514,366
31047,GMC,Sierra 1500 2WD,1991,5.7,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,21.974000,14,18,15,592.466667,2200,2524.173554,242
16018,GMC,Sierra 1500 2WD,1992,4.3,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,20.600625,15,20,16,555.437500,2100,2063.308458,402
12389,Plymouth,Acclaim,1993,2.5,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,14.330870,21,26,23,386.391304,1450,1543.026005,423
12418,Pontiac,Grand Am,1993,2.3,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,19,29,23,386.391304,1450,1543.026005,423
16897,Nissan,300ZX 2x2,1994,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250,2009.324324,370
16793,GMC,Sierra 1500 2WD,1994,4.3,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,18.311667,16,21,18,493.722222,1850,2009.324324,370
12988,Honda,Accord Wagon,1995,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Small Station Wagons,Regular,15.695714,19,25,21,423.190476,1600,1504.952077,313
17286,Plymouth,Voyager/Grand Voyager 4WD,1995,3.3,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,20,17,522.764706,1950,2006.805556,360
34508,Dodge,Ram 1500 Pickup 4WD,1995,5.9,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,27.467500,10,14,12,740.583333,2800,2494.666667,225
34716,Ford,E150 Club Wagon,1996,5.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,23.543571,12,17,14,634.785714,2400,2410.273973,146
2071,Mitsubishi,Eclipse,1997,2.0,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Subcompact Cars,Premium,15.695714,19,26,21,423.190476,1950,1490.068493,292
2093,Nissan,Truck 2WD,1997,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Small Pickup Trucks,Regular,17.347895,17,21,19,467.736842,1750,1490.068493,292
2188,Toyota,Paseo Convertible,1997,1.5,4.0,Manual 5-spd,Front-Wheel Drive,Minicompact Cars,Regular,11.771786,25,32,28,317.392857,1200,1490.068493,292
1950,Chevrolet,Cavalier,1997,2.4,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,30,23,386.391304,1450,1490.068493,292
2150,Suzuki,Esteem,1997,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,11.365862,26,34,29,306.448276,1150,1490.068493,292
2283,Chrysler,Sebring Convertible,1997,2.5,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,16,24,19,467.736842,1750,1986.868687,297
32741,Ford,E150 Econoline 2WD,1997,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,21.974000,14,18,15,592.466667,2200,2453.741497,147
34875,BMW,850ci,1997,5.4,12.0,Automatic 5-spd,Rear-Wheel Drive,Subcompact Cars,Premium,21.974000,12,19,15,592.466667,2700,3377.777778,9
2676,Nissan,Frontier 2WD,1998,2.4,4.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,17.347895,17,22,19,467.736842,1750,1488.110749,307
3592,Isuzu,Hombre Pickup 4WD,1999,4.3,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,20.600625,14,19,16,555.437500,2100,1935.156250,320
5365,Audi,A6 Avant quattro,2000,2.8,6.0,Automatic 5-spd,4-Wheel or All-Wheel Drive,Midsize Station Wagons,Premium,18.311667,15,22,18,493.722222,2250,1990.390390,333
31684,Chevrolet,Suburban 1500 4WD,2000,5.3,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,25.354615,12,15,13,683.615385,2550,2429.166667,168
4162,Chevrolet,Monte Carlo,2001,3.4,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,14.982273,19,29,22,403.954545,1500,2004.071247,393
31904,Ford,F150 Pickup 2WD,2001,4.6,8.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,21.974000,14,18,15,592.466667,2200,2441.860465,172
31927,GMC,Yukon 1500 4WD,2001,5.3,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,25.354615,12,15,13,683.615385,2550,2441.860465,172
24952,Subaru,Forester AWD,2002,2.5,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,15.695714,19,25,21,423.190476,1600,1520.903010,299
24926,Saab,9-3 Viggen,2002,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,26,20,444.350000,2000,1520.903010,299
24871,Mazda,626,2002,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,13.184400,23,29,25,355.480000,1350,1520.903010,299
25192,Mitsubishi,Eclipse,2003,2.4,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.330870,20,28,23,386.391304,1450,1525.732899,307
5091,GMC,Envoy XL 2WD,2003,4.2,6.0,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,20.600625,14,19,16,555.437500,2100,2018.232662,447
5056,Ford,Escape 4WD,2003,3.0,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,18.311667,16,21,18,493.722222,1850,2018.232662,447
25546,Saab,9-5 Wagon,2004,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Station Wagons,Regular,14.982273,18,27,22,403.954545,1500,1538.924051,316
5783,Chevrolet,Epica,2004,2.5,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,16.480500,17,25,20,444.350000,1650,2004.219409,474
6056,Nissan,Xterra V6 2WD,2004,3.3,6.0,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,19.388824,15,20,17,522.764706,1950,2004.219409,474
6133,Toyota,Camry Solara,2004,3.3,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Regular,15.695714,18,27,21,423.190476,1600,2004.219409,474
6025,Mitsubishi,Endeavor,2004,3.8,6.0,Automatic (S4),Front-Wheel Drive,Sport Utility Vehicle - 2WD,Premium,18.311667,15,21,18,493.722222,2250,2004.219409,474
5817,Chrysler,Pacifica 2WD,2004,3.5,6.0,Automatic 4-spd,Front-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,19.388824,15,21,17,522.764706,1950,2004.219409,474
5994,Mercedes-Benz,C320 FFV (Wagon),2004,3.2,6.0,Automatic 5-spd,Rear-Wheel Drive,Small Station Wagons,Premium or E85,16.480500,18,24,20,444.350000,2000,2004.219409,474
32569,GMC,Sierra 15 Hybrid 4WD,2004,5.3,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,20.600625,15,17,16,555.437500,2100,2403.461538,260
25848,Mitsubishi,Outlander 2WD,2005,2.4,4.0,Automatic (S4),Front-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,15.695714,19,24,21,423.190476,1600,1550.289855,345
25775,Hyundai,Accent/Brio,2005,1.5,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,32,26,341.807692,1300,1550.289855,345
19023,Porsche,Carrera 4 S Coupe,2005,3.6,6.0,Manual 6-spd,4-Wheel or All-Wheel Drive,Minicompact Cars,Premium,18.311667,15,22,18,493.722222,2250,1997.553191,470
18959,Nissan,350z,2005,3.5,6.0,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,16.480500,17,23,20,444.350000,2000,1997.553191,470
33346,Lexus,GS 300/GS 430,2005,4.3,8.0,Automatic 5-spd,Rear-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250,2421.730769,260
19285,Hyundai,Sonata,2006,3.3,6.0,Automatic 5-spd,Front-Wheel Drive,Large Cars,Regular,15.695714,18,27,21,423.190476,1600,1946.033654,416
24092,Toyota,Tacoma 4WD,2007,2.7,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,17.347895,17,22,19,467.736842,1750,1549.824561,285
23868,Chrysler,PT Cruiser Convertible,2007,2.4,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,15.695714,19,24,21,423.190476,1600,1549.824561,285
19676,GMC,Savana 1500/2500 2WD (cargo),2007,4.3,6.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",Regular,21.974000,14,19,15,592.466667,2200,1931.839080,435
19873,Porsche,Carrera 4 S Targa,2007,3.8,6.0,Manual 6-spd,4-Wheel or All-Wheel Drive,Minicompact Cars,Premium,18.311667,16,23,18,493.722222,2250,1931.839080,435
24192,Honda,Civic,2008,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,29,24,370.291667,1700,1509.800664,301
20457,BMW,535i,2009,3.0,6.0,Automatic (S6),Rear-Wheel Drive,Midsize Cars,Premium,16.480500,17,26,20,444.350000,2000,1892.890995,422
26394,Chevrolet,Express 1500 2WD Passenger,2009,5.3,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",Regular,23.543571,13,16,14,634.785714,2400,2295.076923,325
26460,Dodge,Durango HEV,2009,5.7,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,15.695714,20,22,21,423.190476,1600,2295.076923,325
21291,BMW,X6 xDrive35i,2011,3.0,6.0,Automatic (S8),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,16,23,19,467.736842,2150,1837.712895,411
29411,Ford,E150 Wagon FFV,2011,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Passenger Type",Gasoline or E85,25.354615,12,15,13,683.615385,2550,2311.481481,270
21890,Mitsubishi,Outlander 2WD,2012,3.0,6.0,Automatic (S6),Front-Wheel Drive,Sport Utility Vehicle - 2WD,Premium,14.982273,19,26,22,403.954545,1850,1806.958763,388
29703,Ford,Mustang,2012,5.4,8.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,19.388824,15,23,17,522.764706,2400,2319.230769,273
29675,Dodge,Ram 1500 Pickup 2WD,2012,5.7,8.0,Automatic 6-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Midgrade,20.600625,14,20,16,555.437500,2300,2319.230769,273
26807,Aston Martin,Virage,2012,5.9,12.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,21.974000,13,18,15,592.466667,2700,2962.903226,31
6362,Jeep,Patriot 4WD,2013,2.4,4.0,Manual 5-spd,4-Wheel Drive,Small Sport Utility Vehicle 4WD,Regular,13.733750,22,28,24,363.000000,1400,1334.388646,458
22334,Porsche,911 Carrera 4S,2013,3.8,6.0,Auto(AM-S7),4-Wheel Drive,Minicompact Cars,Premium,14.982273,19,26,22,407.000000,1850,1778.067885,383
6818,Hyundai,Veloster,2014,1.6,4.0,Auto(AM6),Front-Wheel Drive,Compact Cars,Regular,10.632581,28,36,31,284.000000,1050,1308.742004,469
6675,Cadillac,ATS,2014,2.0,4.0,Automatic (S6),Rear-Wheel Drive,Compact Cars,Regular,13.733750,21,31,24,364.000000,1400,1308.742004,469
6876,Lexus,CT 200h,2014,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,179.000000,800,1308.742004,469
17474,Ford,Explorer 2WD FFV,2014,3.5,6.0,Automatic (S6),Front-Wheel Drive,Standard Sport Utility Vehicle 2WD,Gasoline or E85,16.480500,17,24,20,450.000000,1650,1752.392344,418
17418,Cadillac,CTS Sedan,2014,3.6,6.0,Automatic (S8),Rear-Wheel Drive,Midsize Cars,Premium,18.311667,16,24,18,481.000000,2250,1752.392344,418
7435,Mazda,3 5-Door,2015,2.5,4.0,Manual 6-spd,Front-Wheel Drive,Midsize Cars,Regular,11.365862,26,35,29,305.000000,1150,1320.502901,517
17778,Audi,S4,2015,3.0,6.0,Manual 6-spd,All-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,439.000000,2000,1748.850575,435
17929,GMC,Sierra C15 Cab Chassis 2WD,2015,4.3,6.0,Automatic 6-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Gasoline or E85,18.311667,16,21,18,494.000000,1850,1748.850575,435
7999,Mercedes-Benz,C300,2016,2.0,4.0,Automatic 7-spd,Rear-Wheel Drive,Compact Cars,Premium,11.771786,25,34,28,315.000000,1450,1314.695009,541
7954,MINI,Cooper S Convertible,2016,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Minicompact Cars,Premium,12.207778,23,33,27,333.000000,1500,1314.695009,541
7793,Ford,Transit Connect Wagon FWD,2016,1.6,4.0,Automatic (S6),Front-Wheel Drive,Special Purpose Vehicle 2WD,Regular,13.184400,22,29,25,361.000000,1350,1314.695009,541
18388,Infiniti,Q50 Hybrid,2016,3.5,6.0,Automatic (S7),Rear-Wheel Drive,Compact Cars,Premium,10.987000,28,34,30,292.000000,1350,1765.845070,426
18524,Porsche,911 Carrera,2016,3.4,6.0,Manual 7-spd,Rear-Wheel Drive,Minicompact Cars,Premium,14.982273,19,27,22,401.000000,1850,1765.845070,426
30739,GMC,Savana 3500 2WD (Passenger),2016,6.0,8.0,Automatic 6-spd,Rear-Wheel Drive,"Vans, Passenger Type",Regular,27.467500,11,16,12,717.000000,2800,2206.872038,211
22456,BMW,M240i xDrive Convertible,2017,3.0,6.0,Automatic (S8),All-Wheel Drive,Subcompact Cars,Premium,13.184400,21,31,25,357.000000,1600,1783.457249,269

In [ ]:
avg_mpg.rename(columns={'Fuel Cost/Year':'avg_fuel_cost'}, inplace=True)

In [ ]:
avg_mpg.head()

In [ ]:
data.head()

In [ ]:
pd.merge(left=data, right=avg_mpg, on='Manufacturer')

In [ ]:
merged_table = pd.merge(left=data, right=avg_mpg[['Manufacturer','avg_fuel_cost']], on='Manufacturer')

## E se tivessemos nomes diferentes de coluna Manufacturer

In [520]:
avg_mpg.rename(columns={'Manufacturer':'Make'}, inplace=True)

In [521]:
avg_mpg.head(2)

,Make,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,avg_fuel_cost_year
0,AM General,1984.5,3.35,5.0,22.674670,15.0,15.0,14.75,611.358244,2287.5
1,ASC Incorporated,1987.0,3.80,6.0,20.600625,14.0,21.0,16.00,555.437500,2550.0

In [522]:
data.head(2)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [527]:
pd.merge(left=data,
         right=avg_mpg[['Make','avg_fuel_cost_year']],
         left_on='Manufacturer',
         right_on='Make').drop('Make', axis=1)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,avg_fuel_cost_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,2287.5
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,2287.5
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,2287.5
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,2287.5
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,2550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,1110.0
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,1110.0
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,1110.0
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,1110.0
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,1110.0

In [528]:
data.merge()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

# How to concatenate dataframes?

In [529]:
# creating a dataframe containing only the Manufacturer Lexus
lexus = data.loc[data['Manufacturer']=='Lexus', :]
lexus

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
21128,Lexus,CT 200h,2011,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
21129,Lexus,CT 200h,2012,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
21130,Lexus,CT 200h,2013,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
21131,Lexus,CT 200h,2014,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,179.000000,800
21132,Lexus,CT 200h,2015,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,Lexus,SC 430,2006,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,17,23,19,467.736842,2150
21521,Lexus,SC 430,2007,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,16,23,19,467.736842,2150
21522,Lexus,SC 430,2008,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,16,23,19,467.736842,2150
21523,Lexus,SC 430,2009,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,16,23,19,467.736842,2150
21524,Lexus,SC 430,2010,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,16,23,19,467.736842,2150

In [530]:
# creating a dataframe containing only the Manufacturer Audi
audi = data.loc[data['Manufacturer'] == 'Audi', :]

In [531]:
audi.head(2)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
503,Audi,100,1989,2.3,5.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,17,20,18,493.722222,1850
504,Audi,100,1989,2.3,5.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,17.347895,16,23,19,467.736842,1750

In [532]:
lexus.shape

(397, 15)

In [533]:
audi.shape

(890, 15)

In [534]:
pd.concat([lexus, audi])

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
21128,Lexus,CT 200h,2011,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
21129,Lexus,CT 200h,2012,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.595238,800
21130,Lexus,CT 200h,2013,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
21131,Lexus,CT 200h,2014,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,179.000000,800
21132,Lexus,CT 200h,2015,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,211.000000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium,14.330870,20,27,23,394.000000,1750
1389,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,14.330870,20,27,23,394.000000,1750
1390,Audi,allroad quattro,2014,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,14.330870,20,27,23,394.000000,1750
1391,Audi,allroad quattro,2015,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,13.733750,21,28,24,373.000000,1700
1392,Audi,allroad quattro,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,13.733750,21,28,24,373.000000,1700

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type
503,Audi,100,1989,2.3,5.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular
504,Audi,100,1989,2.3,5.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular
505,Audi,100,1990,2.3,5.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular
506,Audi,100,1990,2.3,5.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular
507,Audi,100,1991,2.3,5.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular
...,...,...,...,...,...,...,...,...,...
1388,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium
1389,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85
1390,Audi,allroad quattro,2014,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85
1391,Audi,allroad quattro,2015,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85
1392,Audi,allroad quattro,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85

In [537]:
pd.concat([lexus, audi.loc[:, :'Fuel Type']])

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
21128,Lexus,CT 200h,2011,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43.0,40.0,42.0,211.595238,800.0
21129,Lexus,CT 200h,2012,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43.0,40.0,42.0,211.595238,800.0
21130,Lexus,CT 200h,2013,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43.0,40.0,42.0,211.000000,800.0
21131,Lexus,CT 200h,2014,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43.0,40.0,42.0,179.000000,800.0
21132,Lexus,CT 200h,2015,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43.0,40.0,42.0,211.000000,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium,NaN,NaN,NaN,NaN,NaN,NaN
1389,Audi,allroad quattro,2013,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,NaN,NaN,NaN,NaN,NaN,NaN
1390,Audi,allroad quattro,2014,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,NaN,NaN,NaN,NaN,NaN,NaN
1391,Audi,allroad quattro,2015,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,NaN,NaN,NaN,NaN,NaN,NaN
1392,Audi,allroad quattro,2016,2.0,4.0,Automatic (S8),All-Wheel Drive,Small Station Wagons,Premium or E85,NaN,NaN,NaN,NaN,NaN,NaN

In [538]:
pd.concat([lexus, audi], axis=1)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,...,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,17.0,20.0,18.0,493.722222,1850.0
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,17.347895,16.0,23.0,19.0,467.736842,1750.0
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,16.0,20.0,18.0,493.722222,1850.0
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,16.0,22.0,18.0,493.722222,1850.0
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,16.0,22.0,18.0,493.722222,1850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,Lexus,SC 430,2006.0,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21521,Lexus,SC 430,2007.0,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21522,Lexus,SC 430,2008.0,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21523,Lexus,SC 430,2009.0,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21524,Lexus,SC 430,2010.0,4.3,8.0,Automatic (S6),Rear-Wheel Drive,Minicompact Cars,Premium,17.347895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [542]:
pd.concat([lexus.reset_index(), audi.reset_index()], axis=1)[['Manufacturer']]

    Manufacturer Manufacturer
0          Lexus         Audi
1          Lexus         Audi
2          Lexus         Audi
3          Lexus         Audi
4          Lexus         Audi
..           ...          ...
885          NaN         Audi
886          NaN         Audi
887          NaN         Audi
888          NaN         Audi
889          NaN         Audi

[890 rows x 2 columns]

In [ ]:
# Concatenating both results

lexus_audi = pd.concat([lexus, audi], axis=0)
# lexus_audi.reset_index(drop=True).drop(columns=[''])

lexus_audi.reset_index(drop=True)

In [ ]:
# Concatenating both results

# pd.concat([lexus, audi], axis=1)

In [ ]:
pd.merge(data, avg_mpg, left_on='Manufacturer', right_on='Make', indicator=True)

In [ ]:
#data.to_json('vehicles/test.json', orient='records')

# Bins
> ```pd.cut``` vs ```pd.qcut```
> - Specify cutoffs

> - Use case
>     - Scores ~ decis (0,1,2,3,4,5,6,7,8,9)


Suppose I want to break the values of the variable `Combined MPG` into 5 categories: From Very Low to Very High

In [546]:
data['Fuel Barrels/Year'].describe()

count    35952.000000
mean        17.609056
std          4.467283
min          0.060000
25%         14.699423
50%         17.347895
75%         20.600625
max         47.087143
Name: Fuel Barrels/Year, dtype: float64

In [552]:
data['cat_barrel_year'] = pd.cut(data['Fuel Barrels/Year'], 5, labels=['MB','B','M','A','MA'])

In [554]:
data.groupby(by='cat_barrel_year').mean()['Engine Displacement']

cat_barrel_year
MB    1.863077
B     2.696333
M     4.642560
A     5.755868
MA    6.000000
Name: Engine Displacement, dtype: float64

In [556]:
data['cat_barrel_year'].value_counts()

B     23804
M     11062
A       605
MB      455
MA       26
Name: cat_barrel_year, dtype: int64

In [558]:
pd.qcut(data['Fuel Barrels/Year'], 5, labels=['MB','B','M','A','MA']).value_counts()

M     9871
B     7196
MB    7192
MA    7080
A     4613
Name: Fuel Barrels/Year, dtype: int64

In [ ]:
data.head()

In [ ]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [ ]:
# performing the pd.cut operation without specifiyng the labels outputs the intervals
bins = pd.cut(data['Fuel Cost/Year'], 5)
bins

In [ ]:
# performing the pd.cut operation using the labels argument outputs your labels
bins = pd.cut(data['Fuel Cost/Year'], 5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins = pd.qcut(data['Fuel Cost/Year'],5, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts()

In [ ]:
cutoffs = [1000,1500,2000,2500,3000,3500]
bins = pd.cut(data['Fuel Cost/Year'], cutoffs, labels=mpg_labels)
bins.head(10)

In [ ]:
bins.value_counts(sort=False)

# Convert categorical variables columns
>    - One hot encoding

In [560]:
data[['cat_barrel_year']]
# count the values within each category

      cat_barrel_year
0                   M
1                   M
2                   M
3                   M
4                   M
...               ...
35947              MB
35948              MB
35949              MB
35950              MB
35951              MB

[35952 rows x 1 columns]

In [561]:
data['cat_barrel_year'].unique()

[M, B, MB, A, MA]
Categories (5, object): [MB < B < M < A < MA]

In [562]:
data[['cat_barrel_year']].head()

  cat_barrel_year
0               M
1               M
2               M
3               M
4               M

In [564]:
drivetrain = pd.get_dummies(data['cat_barrel_year'])
drivetrain

       MB  B  M  A  MA
0       0  0  1  0   0
1       0  0  1  0   0
2       0  0  1  0   0
3       0  0  1  0   0
4       0  0  1  0   0
...    .. .. .. ..  ..
35947   1  0  0  0   0
35948   1  0  0  0   0
35949   1  0  0  0   0
35950   1  0  0  0   0
35951   1  0  0  0   0

[35952 rows x 5 columns]