# Pandas: Importing and Exporting

In [11]:
import os

In [12]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export

In [13]:
os.listdir()

['.DS_Store',
 'import-export-pandas.ipynb',
 '.ipynb_checkpoints',
 'vehicles.zip',
 'data']

In [22]:
csv_files = [item for item in os.listdir('data/') if item.endswith('.csv')]
csv_files

['exported_file_plusminus.csv',
 'exported_file_pipe.csv',
 'exported_file.csv',
 'CSV.ANSI.csv',
 'CSV.8859-1.csv',
 'teste.csv',
 'exported_file_v2.csv',
 'vehicles_messy.csv',
 'CSV.UTF8.csv',
 'vehicles.csv',
 'vehicles_test.csv',
 'exported_file_semicolon.csv']

## IMPORTING AND EXPORTING DELIMITED FILES

### Comma separated values (CSV) files

A file that is separated (or delimited) by commas (or anything else)

Example:
    
**-- comma separated file --**

    name,year,value
    Andre,2020,100
    Fernanda,1900,1
    
**-- tab separated file --**

    name    year    value
    Andre    2020    100
    Fernanda    1900    1
    
**-- tab separated file (another way) --**

    name\tyear\tvalue
    Andre\t2020\t100
    Fernanda\t1900\t1
    
**-- hash separated file --**

    name#year#value
    Andre#2020#100
    Fernanda#1900#1

**-- pipe separated file --**

    name|year|value
    Andre|2020|100
    Fernanda|1900|1

    ...

### Import comma-separated variable file (the default)

In [23]:
import pandas as pd

In [28]:
pd.read_csv('data/vehicles.csv').mean()

Year                       2000.716400
Engine Displacement           3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
City MPG                     17.646139
Highway MPG                  23.880646
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
Fuel Cost/Year             1892.598465
dtype: float64

In [29]:
df = pd.read_csv('data/vehicles.csv')

In [32]:
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [33]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [35]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export

In [36]:
pd.read_csv('/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export/data/vehicles.csv')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [37]:
!pwd

/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export

In [ ]:
# absolute path
pd.read_csv('/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export')

In [38]:
# relative path
pd.read_csv('data/vehicles.csv')
# in this way, the pd.read_csv() function is just outputing the results in the screen.
# If I wanted to store it in a variable I would have to assign this result into a variable

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [39]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

## Import tab-delimited file

In [45]:
pd.read_csv('data/vehicles_tab.txt', sep='\t')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [49]:
print('\tb\n\ta')

	b
	a

In [50]:
pd.read_csv('data/vehicles_tab.txt', sep='\t')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

## Import pipe delimited file

In [54]:
df = pd.read_csv('data/vehicles_pipe.txt', sep='|')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [57]:
# hash
df = pd.read_csv('data/vehicles_hash.txt', sep='#')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

# Importing Excel FIles

In [58]:
pd.read_excel('data/vehicles.xlsx')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [71]:
aldrey_treated = pd.read_excel('data/dados_artigo1.xlsx', header=1, skiprows=[2,3], usecols='B:M')

In [72]:
aldrey_treated

,C1 Entrada,T1 Entrada,C1 Saída,T1 Saída,C2 Entrada,T2 Entrada,C2 Saída,T2 Saída,C3 Entrada,T3 Entrada,C3 Saída,T3 Saída
0,0.274,0.234,0.370,0.126,0.232,0.244,0.065,0.088,0.227,0.227,0.087,0.088
1,0.179,0.159,0.366,0.376,0.167,0.152,0.100,0.146,0.169,0.202,0.135,0.077
2,1.852,3.072,0.342,0.236,1.627,1.852,0.196,0.187,3.327,1.699,0.206,0.228
3,1.042,1.087,0.178,0.103,1.099,1.317,0.173,0.045,1.747,1.124,0.125,0.068
4,0.247,0.224,0.162,0.108,0.249,0.264,0.155,0.065,0.234,0.242,0.155,0.060
5,1.037,1.982,0.176,0.030,1.037,1.982,0.032,0.000,1.037,1.982,0.062,0.000
6,0.699,0.849,0.294,0.123,0.739,0.747,0.273,0.057,0.689,0.692,0.143,0.035
7,0.264,0.279,0.228,0.126,0.232,0.252,0.173,0.024,0.234,0.227,0.102,0.050
8,0.532,0.557,0.243,0.065,0.607,2.107,0.226,0.042,0.739,1.017,0.102,0.050
9,0.069,0.113,0.017,0.014,0.063,0.066,0.053,0.000,0.062,0.063,0.012,0.001
10,2.883,13.923,1.023,0.399,2.103,3.168,0.887,0.117,1.788,1.721,0.464,0.132
11,2.313,3.648,1.047,0.263,2.343,5.973,0.911,0.026,2.748,2.628,0.321,0.003
12,0.423,0.438,1.426,0.171,0.461,0.386,0.927,0.072,0.438,0.423,0.434,0.102
13,2.216,3.858,0.918,0.369,2.336,4.331,0.532,0.171,2.471,1.998,0.669,0.163
14,4.691,4.721,1.039,0.468,4.758,4.811,0.661,0.468,4.976,4.863,0.774,0.186
15,4.391,4.323,0.888,0.827,4.593,4.503,0.585,0.171,5.111,6.281,0.427,0.095
16,7.421,7.466,0.583,0.056,6.746,7.503,0.659,0.192,7.001,7.376,0.335,0.033
17,0.483,0.476,0.425,0.071,0.551,0.498,0.629,0.086,0.491,0.536,0.365,0.033
18,0.573,0.858,0.297,0.525,0.633,0.618,0.591,0.291,0.911,0.573,0.365,0.101
19,0.596,0.678,0.185,0.554,0.596,0.633,0.427,0.133,0.558,0.566,0.321,0.363
20,0.612,0.605,0.564,0.218,0.552,0.552,0.769,0.142,0.537,0.567,0.988,0.104
21,1.490,1.385,0.747,0.000,1.460,1.430,0.656,0.571,1.460,1.475,0.000,0.112
22,0.905,0.890,0.903,0.301,0.965,0.875,0.601,0.149,0.935,1.752,0.586,0.195
23,1.925,1.850,0.710,0.173,1.760,2.052,0.672,0.043,2.322,2.195,0.551,0.066
24,1.842,1.985,0.639,0.255,1.850,1.752,0.480,0.233,1.887,1.760,0.692,0.149
25,0.560,0.507,0.878,0.261,1.115,0.132,0.689,0.541,1.137,0.552,0.742,0.156
26,0.324,0.444,0.232,0.072,0.311,0.324,0.104,0.000,0.329,0.639,0.000,0.000
27,0.389,0.499,0.157,0.000,0.341,0.536,0.190,0.000,0.386,0.421,0.000,0.000
28,0.206,0.204,0.185,0.000,0.214,0.214,0.000,0.000,0.211,0.216,0.000,0.000
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Read from specific excel sheet

In [73]:
df = pd.read_excel('data/dados_artigo1.xlsx', sheet_name='dataset')
df.head()

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08

# Exporting datasets

## Export TO EXCEL

In [75]:
aldrey_treated.to_excel('data/aldrey_treated.xlsx', sheet_name='treated')

In [79]:
test = aldrey_treated*10

In [80]:
# this overrides the file
test.to_excel('data/aldrey_treated.xlsx', sheet_name='treated_10')

## BONUS: Saving to multiple sheets

In [81]:
writer = pd.ExcelWriter('data/aldrey_treated2.xlsx', engine = 'openpyxl')

In [82]:
aldrey_treated.to_excel(writer, sheet_name='treated')
test.to_excel(writer, sheet_name='treated_10')

In [83]:
writer.save()
writer.close()

## Export TO CSV

In [84]:
df.head()

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08

In [89]:
df.to_csv('data/exported_file_v1.csv', index=False)

In [90]:
pd.read_csv('data/exported_file_v1.csv')

,unplanted3,planted3,unplanted7,planted7,unplanted10,planted10,wether,parameter,date
0,0.000000,78.636959,84.820995,52.068175,84.783652,85.310734,wet,turbidity,2018-02-09
1,0.000000,14.616304,14.015557,0.000000,40.375704,28.928829,wet,turbidity,2018-02-15
2,80.511993,89.752898,87.460473,89.376096,94.163425,87.193210,wet,turbidity,2018-02-22
3,75.900402,87.403649,80.646947,93.727934,93.886463,94.274587,wet,turbidity,2018-03-01
4,15.042991,69.794541,49.785408,82.442805,17.340252,78.333261,wet,turbidity,2018-03-08
...,...,...,...,...,...,...,...,...,...
215,65.309446,87.153652,74.054054,86.700913,63.328034,91.534091,wet,pt,2018-10-05
216,0.000000,48.520710,38.206278,0.000000,34.740545,71.739130,wet,pt,2018-10-11
217,28.395062,83.783784,66.559486,100.000000,100.000000,100.000000,wet,pt,2018-10-18
218,59.640103,100.000000,44.281525,100.000000,100.000000,100.000000,wet,pt,2018-10-25
219,10.194175,100.000000,100.000000,100.000000,100.000000,100.000000,wet,pt,2018-10-31

In [ ]:
# pd.read_csv('data/exported_file_v2.csv', index_col=0)

**NOTE**: If you do not specify the argument `index=False`, the output in the csv file will create an unnamed index column with the *dataframe indexes*.

In [ ]:
df.to_csv('data/exported_file.csv', index=False)

## Export to csv using a specific separator

### Semicolon

In [91]:
df.to_csv('data/exported_file_semicolon.csv', index=False, sep=';')

### Pipe

In [92]:
df.to_csv('data/exported_file_pipe.csv', index=False, sep='|')

### plust or minus

In [93]:
df.to_csv('data/exported_file_plusminus.csv', index=False, sep='±')

# Import and export JSON files

What is a JSON file?

JSON 1:
```json
{ "name":"John", "age":30, "car":null }
```

JSON 2: 
```json
{"students":[
   {"name":"Andre", "age":23, "state":"SP"},
   {"name":"Rafael", "age":28, "state":"RJ"},
   {"name":"Claudia", "age":32, "state":"PA"},
   {"name":"Lajos", "age":28, "state":"MA"}
]}
```

In [94]:
pd.read_json('data/vehicles.json')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [ ]:
data.head()

For a JSON file, you can have different `orient` options.

`'split'`: Dictionary containing indexes, columns, and data.

`'index'`: Nested dictionaries containing {index:{column:value}}.

`'columns'`: Nested dictionaries containing {column:{index:value}}

`'values'`: Nested list where each sublist contains the values for a record.

`'table'`: Nested dictionaries containing schema and data (records).

In [96]:
data.sample(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
10276,Dodge,Magnum 2WD,2005,2.7,6,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,15.695714,18,26,21,423.190476,1600
27946,Plymouth,Horizon,1990,2.2,4,Automatic 3-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
27951,Plymouth,Laser,1990,2.0,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Premium,14.982273,19,26,22,403.954545,1850
11324,Ferrari,F12 tdf,2017,6.3,12,Auto(AM7),Rear-Wheel Drive,Two Seaters,Premium,27.467500,11,15,12,711.000000,3400
28513,Pontiac,G6,2008,3.9,6,Automatic (S4),Front-Wheel Drive,Compact Cars,Regular,18.311667,15,22,18,493.722222,1850
13532,Ford,Mustang,1987,2.3,4,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
27755,Plymouth,Acclaim,1989,2.5,4,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
27460,Oldsmobile,Cutlass Cruiser,1987,2.8,6,Automatic 3-spd,Front-Wheel Drive,Midsize-Large Station Wagons,Regular,17.347895,17,22,19,467.736842,1750
33127,Toyota,Land Cruiser Wagon 4WD,2009,5.7,8,Automatic (S6),4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,21.974000,13,18,15,592.466667,2200
28132,Plymouth,Voyager/Grand Voyager 2WD,1987,2.2,4,Manual 5-spd,Front-Wheel Drive,Special Purpose Vehicle 2WD,Regular,15.695714,19,26,21,423.190476,1600

In [97]:
data.sample(10).to_json('data/vehicles_split.json', orient='split')
data.sample(10).to_json('data/vehicles_index.json', orient='index')
data.sample(10).to_json('data/vehicles_columns.json', orient='columns')
data.sample(10).to_json('data/vehicles_values.json', orient='values')
data.sample(10).to_json('data/vehicles_table.json', orient='table')

In [99]:
pd.read_json('data/vehicles_values.json', orient='values')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Infiniti,FX45 AWD,2004,4.5,8,Automatic (S5),4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,21.974000,13,18,15,592.466667,2700
1,Volkswagen,Jetta,2000,1.9,4,Manual 5-spd,Front-Wheel Drive,Compact Cars,Diesel,10.057500,35,44,38,267.894737,950
2,Chevrolet,G10/20 Sport Van 2WD,1989,4.3,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
3,Mercedes-Benz,SL500,1998,5.0,8,Automatic 5-spd,Rear-Wheel Drive,Two Seaters,Premium,19.388824,14,21,17,522.764706,2400
4,Audi,TT Coupe quattro,2001,1.8,4,Manual 5-spd,4-Wheel or All-Wheel Drive,Minicompact Cars,Premium,15.695714,18,26,21,423.190476,1950
5,Dodge,Stealth,1991,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
6,Ford,Escort,1997,2.0,4,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
7,Chevrolet,Blazer 4WD,2000,4.3,6,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,20.600625,14,18,16,555.437500,2100
8,Dodge,Omni,1985,2.2,4,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,22,33,26,341.807692,1300
9,Ford,F250 Pickup 4WD,1999,5.4,8,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,27.467500,11,14,12,740.583333,2800

In [ ]:
data.sample(10)

## Encoding

In [100]:
df = data.head(12)

In [102]:
#df.to_csv('data/teste.csv')

In [103]:
pd.read_csv('data/CSV.8859-1.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 1: invalid continuation byte

In [106]:
pd.read_csv('data/CSV.8859-1.csv', encoding='latin-1', sep=';').sample(20)

,Data,Projeto(s),Ini,Ter,Horas,Atividade,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
80,"sex, 24/01",PRODESP,11:00,12:30,01:30,Sistemas APESP - Desfazendo hard-delete,NaN,NaN,NaN,NaN
75,"qui, 23/01",RS,13:30,14:00,00:30,Sobre a extração da terceira edição,NaN,NaN,NaN,NaN
7,"sex, 03/01",RS,13:00,16:00,03:00,Extração Inova,NaN,NaN,NaN,NaN
87,"ter, 28/01",PRODESP,09:30,11:30,02:00,Sistemas APESP,NaN,NaN,NaN,NaN
52,"qui, 16/01",Paulistana,17:00,18:00,01:00,Atividades gerais,NaN,NaN,NaN,NaN
56,"sex, 17/01",PRODESP,15:30,18:00,02:30,Sistemas APESP,NaN,NaN,NaN,NaN
20,"qua, 08/01",GTE - FC,15:30,18:00,02:30,Compilação das pendências,NaN,NaN,NaN,NaN
97,"sex, 31/01",PRODESP,13:30,14:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
83,"dom, 26/01",PRODESP,14:00,17:00,03:00,Sistemas APESP,NaN,NaN,NaN,NaN
3,"qui, 02/01",GTE - FC,14:00,15:00,01:00,Troubleshooting Contrato X Rubricas,NaN,NaN,NaN,NaN
81,"sex, 24/01",PRODESP,13:30,14:30,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
94,"qui, 30/01",PRODESP,14:00,18:00,04:00,Sistemas APESP,NaN,NaN,NaN,NaN
45,"qua, 15/01",PRODESP,13:30,18:00,04:30,Sistemas APESP,NaN,NaN,NaN,NaN
17,"ter, 07/01",GTE - FC,18:30,19:30,01:00,Compilação das pendências,NaN,NaN,NaN,NaN
54,"sex, 17/01",PRODESP,14:30,15:00,00:30,Alinhamentos,NaN,NaN,NaN,NaN
2,"qui, 02/01",GTE,13:30,14:00,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
82,"sex, 24/01",PRODESP,15:30,18:00,02:30,Sistemas APESP,NaN,NaN,NaN,NaN
92,"qua, 29/01",PRODESP,10:00,14:30,04:30,Sistemas APESP,NaN,NaN,NaN,NaN
37,"ter, 14/01",Paulistana,13:30,14:00,00:30,Relatório de monitoramento,NaN,NaN,NaN,NaN
95,"sex, 31/01",RS,10:30,12:00,01:30,Revisão query Inova,NaN,NaN,NaN,NaN

In [108]:
pd.read_csv('data/CSV.UTF8.csv', sep=';').sample(20)

,Data,Projeto(s),Ini,Ter,Horas,Atividade,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
76,"qui, 23/01",PRODESP,14:00,15:30,01:30,Sistemas APESP,NaN,NaN,NaN,NaN
80,"sex, 24/01",PRODESP,11:00,12:30,01:30,Sistemas APESP - Desfazendo hard-delete,NaN,NaN,NaN,NaN
87,"ter, 28/01",PRODESP,09:30,11:30,02:00,Sistemas APESP,NaN,NaN,NaN,NaN
51,"qui, 16/01",PRODESP,16:30,17:00,00:30,Ajuda a desenvolvedor,NaN,NaN,NaN,NaN
70,"qua, 22/01",PRODESP,13:30,16:00,02:30,Sistemas APESP,NaN,NaN,NaN,NaN
95,"sex, 31/01",RS,10:30,12:00,01:30,Revisão query Inova,NaN,NaN,NaN,NaN
50,"qui, 16/01",Paulistana,15:00,16:30,01:30,Atividades gerais,NaN,NaN,NaN,NaN
96,"sex, 31/01",GTE,12:00,12:30,00:30,Tarefas administrativas,NaN,NaN,NaN,NaN
69,"qua, 22/01",PRODESP,09:30,11:30,02:00,Sistemas APESP,NaN,NaN,NaN,NaN
26,"qui, 09/01",GTE - FC,15:00,16:00,01:00,Compilação das pendências,NaN,NaN,NaN,NaN
35,"ter, 14/01",PRODESP,09:30,11:30,02:00,Sistema APESP,NaN,NaN,NaN,NaN
88,"ter, 28/01",PRODESP,14:00,15:00,01:00,Sistemas APESP,NaN,NaN,NaN,NaN
40,"qua, 15/01",PRODESP,07:30,09:30,02:00,Sistema APESP - ambiente próprio,NaN,NaN,NaN,NaN
84,"seg, 27/01",PRODESP,10:30,12:00,01:30,Sistemas APESP,NaN,NaN,NaN,NaN
86,"seg, 27/01",RS,14:00,16:00,02:00,Reunião CITEM,NaN,NaN,NaN,NaN
24,"qui, 09/01",RS,13:30,14:30,01:00,Bug na extação Inova,NaN,NaN,NaN,NaN
6,"sex, 03/01",RS,10:00,12:00,02:00,Extração Inova,NaN,NaN,NaN,NaN
59,"seg, 20/01",RS,10:30,11:30,01:00,Alteração nas regras de PEB do Inova,NaN,NaN,NaN,NaN
20,"qua, 08/01",GTE - FC,15:30,18:00,02:30,Compilação das pendências,NaN,NaN,NaN,NaN
27,"qui, 09/01",Paulistana,16:00,18:30,02:30,Relatório de monitoramento,NaN,NaN,NaN,NaN

# Importing files from URLs

In [109]:
pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-28/sf_trees.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tree_id,legal_status,species,address,site_order,site_info,caretaker,date,dbh,plot_size,latitude,longitude
0,53719,Permitted Site,Tree(s) ::,2963 Webster St,1.0,Sidewalk: Curb side : Cutout,Private,1955-09-19,NaN,NaN,37.797869,-122.434054
1,30313,Permitted Site,Tree(s) ::,501 Arkansas St,3.0,Sidewalk: Curb side : Cutout,Private,1955-10-20,NaN,NaN,37.759838,-122.398119
2,30312,Permitted Site,Tree(s) ::,501 Arkansas St,2.0,Sidewalk: Curb side : Cutout,Private,1955-10-20,NaN,NaN,37.759838,-122.398119
3,30314,DPW Maintained,Pittosporum undulatum :: Victorian Box,501 Arkansas St,1.0,Sidewalk: Curb side : Cutout,Private,1955-10-20,16.0,NaN,37.759772,-122.398109
4,30315,Permitted Site,Acacia melanoxylon :: Blackwood Acacia,1190 Sacramento St,5.0,Sidewalk: Curb side : Cutout,Private,1955-10-24,NaN,NaN,37.792650,-122.412449
...,...,...,...,...,...,...,...,...,...,...,...,...
192982,115063,DPW Maintained,::,70 Coral Rd,3.0,Sidewalk: Curb side : Cutout,DPW,NaN,NaN,NaN,37.753839,-122.399069
192983,234951,DPW Maintained,Pittosporum undulatum :: Victorian Box,4724 25th St,1.0,Sidewalk: Curb side : Cutout,Private,NaN,8.0,Width 2ft,37.749267,-122.442046
192984,17192,DPW Maintained,Magnolia grandiflora :: Southern Magnolia,2235X Octavia St,1.0,Median : Cutout,DPW,NaN,12.0,20,37.792795,-122.427894
192985,228173,DPW Maintained,Lophostemon confertus :: Brisbane Box,790 Florida St,2.0,Sidewalk: Curb side : Cutout,Private,NaN,2.0,Width 3ft,37.759348,-122.410957
192986,121713,DPW Maintained,Liquidambar styraciflua :: American Sweet Gum,880 Pennsylvania Ave,9.0,Sidewalk: Curb side : Cutout,Private,NaN,3.0,NaN,37.755647,-122.393055